{% extends "ckvbasis.html" %}

{% set active_page = "b4" %}

{% block title %}Blok 4{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb4.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
<div class="paginablok bloknietbegonnen">
    <span class="bloknietbegonnenblok">Blok</span>
    <div class="bloknietbegonnennumsdiv">
        <span class="numrij-12">4</span>
        <span class="numrij-11">4</span>
        <span class="numrij-10">4</span>
        <span class="numrij-9">4</span>
        <span class="numrij-8">4</span>
        <span class="numrij-7">4</span>
        <span class="numrij-6">4</span>
        <span class="numrij-5">4</span>
        <span class="numrij-4">4</span>
        <span class="numrij-3">4</span>
        <span class="numrij-2">4</span>
        <span class="numrij-1">4</span>
        <span class="numrij-0">4</span>
        <span class="numrij-1">4</span>
        <span class="numrij-2">4</span>
        <span class="numrij-3">4</span>
        <span class="numrij-4">4</span>
        <span class="numrij-5">4</span>
        <span class="numrij-6">4</span>
        <span class="numrij-7">4</span>
        <span class="numrij-8">4</span>
        <span class="numrij-9">4</span>
        <span class="numrij-10">4</span>
        <span class="numrij-11">4</span>
        <span class="numrij-12">4</span>
    </div>
    <span class="bloknietbegonnentekst">Deze pagina is nog niet beschikbaar. Kom later terug!</span>
</div>
{% endblock %}