{% extends "ckvbasis.html" %}

{% set active_page = "b2" %}

{% block title %}Blok 2{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok megapaginatitel afb" id="megapaginatitelBlok2">
        <div class="megatitel-titeltekst">
            <span class="megatitel-activiteit">Visuele effecten</span>
            <span class="megatitel-blokendisci">Blok 2 - Film</span>
        </div>
        <div class="megatitel-credits">
            <span class="megatitelkunstwerk"><i>Opnames van </i>The Mandalorian (2019 - heden)</span>
            <span class="megatitelkunstenaar">O.a. Jon Favreau</span>
        </div>
    </div>

    <div class="paginablok alginfoblok">
        <div class="alginfo-imgentext-container">
            <img class="alginfo-imgbackground" id="alginfo-imgbackground-blok2" src="/static/afbs/b2/dune.jpg">
            <div class="alginfo-imgcredits">
                <span class="alginfo-kunstwerk">Dune (2021)</span>
                <span class="alginfo-kunstenaar">O.a. Denis Villeneuve</span>
            </div>
        </div>
        <div class="alginfo-textcontainer">

            <div class="alginfo-alginfobox">
                <h1>Algemene informatie</h1>
                <p>
                    Dit blok was ik ingedeeld bij de discipline <b>film</b> met als thema <b>visuele effecten</b>. Dit blok onderzochten we hoe we visuele effecten in een film konden gebruiken.<br>
                    Dit blok kreeg ik les van <b>mw. Borst</b>. In dit blok werkte ik samen met <b>Quinten van Eck (4H3),</b> <b>Aleksander Sosnowski (4A1)</b>, <b>Raphael Estevao (4A1)</b>, <b>Ismail Abakri (4A1)</b>, <b>Kaan Çakir (4A1)</b> en <b>Harun Kapli (4A1)</b>.<br>
                    De tweede les van dit blok volgden we de workshop <i><b>Greenscreen, the FX movie</b></i> over visuele effecten.
                </p>
            </div>
        </div>
    </div>

    <div class="paginablok kleurvak-buiten rood" id="ver-uit-2b">
        <div class="textblok kleurvak-binnen textleft">
            <h1>Kleine verklaring & uitleg</h1>
            <p>
                Ik heb het tussenverslag, de ontvangen materialen en mijn zelf gemaakte werk dit keer als een <b>digitale interactieve infographic</b> verwerkt. (Ja, echt zelf gemaakt!) U kunt hieronder op de verschillende blokken klikken om meer te lezen over dat onderwerp.<br>
                <br>
                Onder de infographic staat nog eens een overzicht van linkjes naar alle documenten, eigen werken en materialen.<br>
                <br>
                Veel leesplezier!
            </p>
        </div>
    </div>




    <div id="infographic">
        <div id="gallery">
            <div class="tile" id="tile1" data-popup="popup1">
                <span>Keuze en verwachtingen</span>
            </div>
            <div class="tile" id="tile2" data-popup="popup2">
                <span>Les 1</span>
            </div>
            <div class="tile" id="tile3" data-popup="popup3">
                <span>Les 2</span>
            </div>
            <div class="tile" id="tile4" data-popup="popup4">
                <span>Les 3</span>
            </div>
            <div class="tile" id="tile5" data-popup="popup5">
                <span>Les 4 + montage</span>
            </div>
            <div class="tile" id="tile6" data-popup="popup6">
                <span>Ontdekt, gemaakt en geleerd</span>
            </div>
            <div class="tile" id="tile7" data-popup="popup7">
                <span>Vorm, inhoud en materiaal</span>
            </div>
            <div class="tile" id="tile8" data-popup="popup8">
                <span>Terugblik en reflectie verwachtingen</span>
            </div>
        </div>

        <div class="popup" id="popup1">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile1">
                <div class="popupinhoud tekststukje">
                    <h1>Waarom ik deze discipline heb gekozen</h1>
                    <p>
                        Dit blok heb ik gekozen voor de discipline film. Mijn keuze werd gedreven door mijn interesse in visuele effecten (VFX), montage en filmproductie. Deze onderwerpen spreken mij aan, omdat ze creativiteit en techniek combineren. Omdat dit thema goed aansloot bij mijn huidige vaardigheden en kennis, werd ik gemotiveerd om mezelf verder te ontwikkelen op dit gebied. Ook sprak de workshop mij aan, want ik vind greenscreens en de effecten die hiermee gemaakt kunnen worden, vooral op technisch gebied, interessant. Ook vind ik een interactieve workshop waar je zelf aan de slag gaat leuker dan een museumrondleiding, een voorstelling of een concert.
                    </p>
                </div>
                <div class="popupinhoud tekststukje">
                    <h1>Mijn verwachtingen</h1>
                    <p>
                        Mijn verwachtingen voor dit blok waren dat ik nieuwe technieken zou leren, zoals het werken met greenscreens en het toepassen van visuele effecten in montageprogramma's. Ik hoopte een film te maken waarin ik mijn vaardigheden en kennis kon toepassen om een professioneel en creatief eindproduct te realiseren. Naast technische vaardigheden wilde ik meer leren over het productieproces van een film, zoals het verdelen van rollen en de invloed van samenwerking binnen een team. Ik verwachtte ook inzicht te krijgen in hoe verschillende rollen binnen de filmwereld bijdragen aan het eindresultaat.
                    </p>
                </div>
            </div>
        </div>
        <div class="popup" id="popup2">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile2">
                <div class="popupinhoud tekststukje">
                    <h1>Les 1</h1>
                    <p>
                        Tijdens de eerste les keken we een aantal fragmenten uit films met veel VFX. We ontdekten hoe de VFX en geluidseffecten (SFX) bijdragen aan het vertellen van het verhaal en het maken van een bepaalde sfeer. Daarna hebben we groepjes gevormd en onze taken verdeeld. We hebben vrijwel direct de taken verdeeld. Dit deden we vooral op basis op de bestaande vaardigheden van iedereen. Ik heb de taken visuele effecten, montage en camera gekregen. De taak visuele effecten deelde ik met Quinten.<br>
                        De taken hebben we eerst gezamenlijk in hoofdlijnen uitgewerkt en vervolgens in detail uitgewerkt. Vervolgens is iedereen binnen zijn taak aan de slag gegaan. De communicatie tussen de verschillende taken was goed, waardoor er een goede basis voor ons eindproduct ontstond. Harun en Kaan begonnen met het eerste concept voor het script; Aleksander schetste een eerste versie van het storyboard; Quinten en ik dachten na over de visuele effecten die nodig zouden zijn en Raphael en Ismail werkten aan ideeën voor props.<br>
                        De taakverdeling zorgde ervoor dat iedereen zich kon focussen op zijn eigen sterke punten, waardoor we erg efficiënt konden werken.
                    </p>
                </div>
                <div class="popupinhoud afbeeldingen">
                  	<img src="/static/afbs/b2/taakverdeling.png" alt="Overzicht taakverdeling">
                </div>
            </div>
        </div>
        <div class="popup" id="popup3">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile3">
                <div class="popupinhoud tekststukje">
                    <h1>Les 2</h1>
                    <p>
                        De activiteit van dit blok was een workshop visuele effecten. Deze volgde ik tijdens de tweede les. Hier leerde ik over het gebruik van greenscreens, de rol van audio-effecten en andere tips rond de productie van een film. De workshop was erg praktisch en gaf me veel inzicht in hoe we deze technieken zelf konden toepassen. Tijdens de workshop hebben we zelf gefilmd voor een greenscreen. Deze beelden hebben we ook verwerkt in onze film. Tijdens het maken van de opnames bij het greenscreen kregen we ondersteuning van onze eigen docent en de workshopdocent. Het was fijn om wat we geleerd hadden direct in de praktijk te kunnen brengen.
                    </p>
                </div>
                <div class="popupinhoud afbeeldingen">
                    <img src="/static/afbs/b2/opnames.jpg" alt="Opnames voor een groen scherm">
                </div>
            </div>
        </div>
        <div class="popup" id="popup4">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile4">
                <div class="popupinhoud tekststukje">
                    <h1>Les 3</h1>
                    <p>
                        Tijdens de derde les gingen we verder met het filmen van de scènes. Dit vond plaats op twee verschillende locaties, zowel binnen als buiten. De taken werden zorgvuldig verdeeld: ik en Quinten bedienden de camera, Raphael en Kaan speelden de hoofdrollen en Aleksander en Ismail ondersteunden met het regelen van props en het begeleiden van de opnames, zodat eventuele problemen direct opgelost konden worden. Dankzij deze samenwerking konden we snel en efficiënt filmen zonder te veel onderbrekingen.<br>
                        Ik filmde samen met Raphael en Aleksander de scènes van Sam (gespeeld door Raphael) in lokaal 1.05. Hoewel deze scènes uiteindelijk niet gebruikt zijn, omdat het geluid niet goed, was het toch een leerzame ervaring. Het gaf me meer inzicht in het belang van de coördinatie tussen de montage en de opnames van de beelden.
                    </p>
                </div>
                <div class="popupinhoud afbeeldingen">
                    <img src="/static/afbs/b2/filmen-binnen.jpg" alt="Opnames in een gebouw">
                    <img src="/static/afbs/b2/storyboardmaken.jpg" alt="Maken van een storyboard">
                    <img src="/static/afbs/b2/filmen-buiten.jpg" alt="Opnames op straat">
                </div>
            </div>
        </div>
        <div class="popup" id="popup5">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile5">
                <div class="popupinhoud tekststukje">
                    <h1>Les 4 en de montage</h1>
                    <p>
                        De vierde les hebben we de laatste opnames gemaakt voor onze film. Tijdens deze opnames hebben we extra aandacht besteed aan de eindmontage en de perspectieven. Ook hebben we een aantal scènes opnieuw gefilmd, omdat ze niet goed pasten bij de rest van de opnames of omdat de continuïteit niet klopte.<br>
                        Ik heb samen met Quinten de film gemonteerd. Dit montageproces verliep in meerdere fasen: direct na de vierde les hebben we samen een eerste ruwe versie in elkaar gezet. Daarna hebben we nog een aantal keren los van elkaar aan de film gewerkt, waarbij we specifieke taken verdeelden. Quinten hield zich bezig met het toepassen van visuele effecten en geluidseffecten en ik concentreerde me op de algehele structuur.<br>
                        Ik beheerde de hoofdtijdlijn van het project en zorgde ervoor dat de verschillende lagen van beeld en geluid goed op elkaar aansloten. Ik ordende het ruwe beeldmateriaal en bepaalde de structuur van het beeldmateriaal, de visuele effecten, de geluidseffecten en de muziek. Ook was ik verantwoordelijk voor de gespreksscènes en de explosiescène. Quinten paste VFX en SFX toe op de losse clips, waarna ik deze clips weer toepaste op de hoofdtijdlijn en controleerde op eventuele foutjes of inconsistenties. Samen werkten we stapsgewijs naar een eindproduct dat zowel technisch als creatief sterk in elkaar zit.<br>
                        We hebben tijdens de montage de feedback van de rest van de groep verwerkt in het eindproduct. Zo kregen we de opmerking dat de gesprekken niet altijd even goed te horen waren, waarna we ondertiteling hebben toegevoegd.
                    </p>
                </div>
                <div class="popupinhoud afbeeldingen">
                    <img src="/static/afbs/b2/edit1.jpg" alt="Screenshot van montage">
                    <img src="/static/afbs/b2/edit2.jpg" alt="Screenshot van montage">
                    <img src="/static/afbs/b2/edit3.jpg" alt="Screenshot van montage">
                    <img src="/static/afbs/b2/edit4.jpg" alt="Screenshot van montage">
                </div>
                <a href="https://drive.google.com/file/d/1STVy56_YIqoaf6ugszRIrdaDnYq8TmA-/" target="_blank" class="knop wit pagitemtextlink">Bekijk de timelapse van de montage&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="popup" id="popup6">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile6">
                <h1>Ontdekt, gemaakt en geleerd</h1>
                <p>
                    Dit blok heeft mij veel geleerd alle over technieken binnen de filmwereld. Ik heb veel nieuwe vaardigheden ontwikkeld, zoals het werken met een greenscreen en het werken met SFX. Dankzij de workshop begrijp ik hoe je beelden met verschillende achtergronden kunt combineren en hoe je deze effecten effectief kunt toepassen in montageprogramma's. Daarnaast heb ik meer inzicht gekregen in het gehele productieproces van een film, vooral wat betreft de verdeling van rollen en hoe elke bijdrage een belangrijke schakel vormt in het eindresultaat.<br>
                    Het monteren van de film was een bijzonder leerzaam proces. Ik had al wel eens wat korte video's gemonteerd, maar nu kreeg ik de kans om dieper in het monteren van beelden te duiken: het opbouwen van scène, het toevoegen van geluidseffecten toe te voegen en het creëren van spanning. Dit was voor mij een waardevolle ervaring die mijn technische vaardigheden aanzienlijk heeft verbeterd. Ik heb bijvoorbeeld geleerd hoe je een mask toepast op een greenscreen, en hoe je deze mask over een beweging moet gebruiken. Ook heb ik geleerd hoe ik beter kan samenwerken en communiceren met anderen, aangezien het maken van onze film echt een groepsproces was. Iedereen moest op elkaar kunnen vertrouwen, en de taken moesten goed verdeeld worden om tot het beste resultaat te komen. Hierbij is het geven en verwerken van feedback erg belangrijk. De ondertiteling in de film was bijvoorbeeld een idee dat ontstond door feedback. Feedback is dus belangrijk om ons eindproduct te verbeteren.
                </p>
                <a href="https://drive.google.com/file/d/1ajhbHvM3fMH84C3BolTwUlfpI-ypZYHU/" target="_blank" class="knop wit pagitemtextlink">Bekijk de film&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="popup" id="popup7">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile7">
                <div class="popupinhoud tekststukje">
                    <h1>Vorm, inhoud en materiaal</h1>
                    <p>
                        Speciale effecten beïnvloeden zowel de vorm, de inhoud als het materiaal van een film; je film ziet er anders uit, het krijgt een andere boodschap en je hebt andere spullen nodig. Ik neem als voorbeeld onze eigen film. Wat we met greenscreen en animaties konden creëren, had veel invloed op hoe de scènes eruitzagen en hoe de spanning werd opgebouwd.<br>
                        Vooral de explosie in onze eigen film was een goed voorbeeld van hoe de visuele effecten de vorm bepaalden en een dramatisch effect toevoegden aan het verhaal. Zonder effecten is dit een persoon die weg wordt getrokken door iemand anders voor een groen doek, maar met effecten wordt dit een slachtoffer van een enorme explosie bij een school. Zowel de vorm (een persoon die wordt weggetrokken voor een groen doek → een persoon die wordt weggeduwd door een grote explosie) als de inhoud (amper inhoud → een slachtoffer van een explosie) veranderen dus (zie afbeelding). Het gebruik van visuele effecten maakte het verhaal spannender en gaf de scène meer impact. Zonder de explosie en de digitale effecten zou het verhaal minder intens zijn geweest, en daardoor werd de boodschap van gevaar en urgentie veel duidelijker.<br>
                        Wat me ook opviel, is dat het materiaal waarmee we werkten een grote rol speelt in het hele proces. De combinatie van fysieke props, zoals de auto, en digitale effecten, zorgde voor de juiste sfeer en hielp de inhoud van het verhaal te versterken. Door te werken met specifieke technieken en materialen konden we de film visueel aantrekkelijker maken en tegelijkertijd de boodschap beter overbrengen. De visuele effecten zorgen niet alleen voor spanning, maar versterken ook de boodschap van het verhaal door de emoties bij een situatie te versterken, waardoor de kijker dieper wordt betrokken bij de gebeurtenissen.
                    </p>
                </div>
                <div class="popupinhoud afbeeldingen">
                    <img src="/static/afbs/b2/veranderingvim.png" alt="Veranderingen voor en na montage">
                </div>
            </div>
        </div>
        <div class="popup" id="popup8">
            <div class="popupinhoudcontainer" id="popup-inhoud-tile8">
                <div class="popupinhoud tekststukje">
                    <h1>Terugblik</h1>
                    <p>
                        Als ik terugkijk op dit project, ben ik tevreden met wat we als team hebben bereikt. De film heeft niet alleen voldaan aan de verwachtingen, maar heeft deze op veel vlakken overtroffen. Natuurlijk waren er momenten waarop de samenwerking moeilijk verliep, bijvoorbeeld tijdens het maken van het script. Desondanks vonden we snel oplossingen en gingen we flexibel om met de omstandigheden. Onze film is een project waar we allemaal trots op kunnen zijn, en iedereen heeft een belangrijke bijdrage geleverd aan het succes ervan. Dit project is voor mij een waardevolle ervaring geweest waar ik tevreden op terugkijk.
                    </p>
                </div>
                <div class="popupinhoud tekststukje">
                    <h1>Reflectie op de verwachtingen</h1>
                    <p>
                        Dit project heeft mijn verwachtingen overtroffen, vooral op technisch vlak. Ik heb enorm veel geleerd over filmproductie, montage en visuele effecten, en ik heb mijn filmvaardigheden aanzienlijk verbeterd. Ik vond het monteren en het toepassen van VFX erg leuk, omdat het iets is waar ik al mee bekend was, terwijl ik toch makkelijk nieuwe vaardigheden kon leren. Bovendien heeft het project me geholpen om mijn communicatie- en samenwerkingsvaardigheden te versterken. Een concreet voorbeeld hiervan is hoe ik samen met Quinten de montage van de film uitvoerde, terwijl Kaan en Harun verantwoordelijk waren voor het script. Dit vereiste een goede samenwerking en coördinatie, wat goed is gelukt. Ik heb niet alleen nieuwe kennis opgedaan, maar ben ook gegroeid als onderdeel van een team.
                    </p>
                </div>
            </div>
        </div>
        <div class="popup-content">
            <button class="close-button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <div class="popup-text"></div>
        </div>

    </div>

    <div class="paginablok linkoverzicht">
        <h1>Overzicht linkjes, eigen werken enz.</h1>
        <div id="linklijsthandig">
            <a class="linklijstitemhandig" href="https://drive.google.com/file/d/1ajhbHvM3fMH84C3BolTwUlfpI-ypZYHU/" target="_blank">Film (eindproduct)</a>
            <a class="linklijstitemhandig" href="https://drive.google.com/file/d/1STVy56_YIqoaf6ugszRIrdaDnYq8TmA-/" target="_blank">Timelapse van de montage</a>
            <a class="linklijstitemhandig" href="https://docs.google.com/document/u/1/d/1-_VkF2UsSWfU0v_Kdsk5ufW2UM708aZ8zDM8UHOjNgw/" target="_blank">Script</a>
            <a class="linklijstitemhandig" href="https://docs.google.com/document/d/11w0DCYHMFEHrlOkXiDjDi-MVOfTUBWROihmsKq6wUOk/" target="_blank">Groepsverslag</a>
            <a class="linklijstitemhandig" href="https://docs.google.com/document/d/1wMongF54caC2p7MuE7Is1qY5vTpVVz2rmW1RWYKJZKA" target="_blank">Mijn individuele reflectie</a>
        </div>
    </div>

    <script>
        document.querySelectorAll(".tile").forEach((tile) => {
            tile.addEventListener("click", () => {
                const popupId = tile.getAttribute("data-popup");
                const popupContent = document.getElementById(popupId);
                const popupContainer = document.querySelector(".popup-content");

                if (popupContent) {
                    const popupText = popupContainer.querySelector(".popup-text");
                    popupText.innerHTML = popupContent.innerHTML;

                    const tileBackgroundColor = getComputedStyle(tile).backgroundColor;
                    const darkenedColor = darkenColor(tileBackgroundColor, 0.5);

                    popupContainer.style.backgroundColor = darkenedColor;

                    const rect = tile.getBoundingClientRect();
                    const parentRect = tile.parentElement.getBoundingClientRect(); // Gebruik de afmetingen van de parent
                    const scaleX = (parentRect.width * 1.3) / rect.width;
                    const scaleY = (parentRect.height * 1.3) / rect.height;
                    const translateX = -rect.left + (parentRect.width - rect.width * 1.3) / 2 + parentRect.left;
                    const translateY = -(rect.top - parentRect.top) + (parentRect.height - rect.height * 1.3) / 2;


                    tile.style.transform = `translate(${translateX}px, ${translateY}px) scale(${scaleX}, ${scaleY})`;
                    tile.classList.add("fullscreen");

                    setTimeout(() => {
                        popupContainer.classList.add("active");
                    }, 300);
                }
            });
        });

        function darkenColor(color, amount) {
            let col = color.slice(4, -1).split(",").map(Number);
            col = col.map((c) => Math.max(0, Math.min(255, c * (1 - amount))));
            return `rgb(${col[0]}, ${col[1]}, ${col[2]})`;
        }

        document.querySelector(".close-button").addEventListener("click", () => {
            const fullscreenTile = document.querySelector(".tile.fullscreen");
            const popupContainer = document.querySelector(".popup-content");

            if (fullscreenTile) {
                popupContainer.classList.remove("active");

                setTimeout(() => {
                    fullscreenTile.style.transform = "translate(0, 0) scale(1)";
                    fullscreenTile.addEventListener(
                        "transitionend",
                        () => {
                            fullscreenTile.classList.remove("fullscreen");
                            fullscreenTile.style.removeProperty("transform");
                        },
                        { once: true }
                    );
                }, 200);
            }
        });

    </script>



{% endblock %}
