{% extends "ckvbasis.html" %}

{% set active_page = "b3" %}

{% block title %}Blok 3{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok megapaginatitel afb" id="megapaginatitelBlok3">
        <div class="megatitel-titeltekst">
            <span class="megatitel-activiteit">Jouw interpretatie</span>
            <span class="megatitel-blokendisci">Blok 3 - Film</span>
        </div>
        <div class="megatitel-credits">
            <span class="megatitelkunstwerk">No Other Land</span>
            <span class="megatitelkunstenaar">Basel Adra, Hamdan Ballal,<br>Yuval Abraham en Rachel Szor</span>
        </div>
    </div>
{% endblock %}
