<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - CKV - Gijs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvbasis.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/cirkels.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>

        <div id="header">
            <div id="headerlinks">
                <h1>Gijs ten Berg</h1>
                <h2>4A2</h2>
            </div>
            <div id="menu">
                <a class="menu-item {% if active_page == 'home' %}active{% endif %}" href="/">
                    <span class="menuitemtext">Home&nbsp;&nbsp;<i class="fa-solid fa-house"></i></span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'over_mij' %}active{% endif %}" href="/over-mij">
                    <span class="menuitemtext">Over mij&nbsp;&nbsp;<i class="fa-solid fa-user"></i></span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'intro' %}active{% endif %}" href="/introductielessen">
                    <span class="menuitemtext">Introductielessen&nbsp;&nbsp;<i class="fa-solid fa-people-group"></i></span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'ei' %}active{% endif %}" href="/eigen-initiatieven">
                    <span class="menuitemtext">Eigen initiatieven&nbsp;&nbsp;<i class="fa-solid fa-landmark"></i></span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'b1' %}active{% endif %}" href="/blok-1">
                    <span class="menuitemtext">Blok 1</span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'b2' %}active{% endif %}" href="/blok-2">
                    <span class="menuitemtext">Blok 2</span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'b3' %}active{% endif %}" href="/blok-3">
                    <span class="menuitemtext">Blok 3</span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'b4' %}active{% endif %}" href="/blok-4">
                    <span class="menuitemtext">Blok 4</span>
                    <div class="menuitemslide"></div>
                </a>
                <a class="menu-item {% if active_page == 'colofon' %}active{% endif %}" href="/colofon">
                    <span class="menuitemtext"><i class="fa-solid fa-circle-info"></i></span>
                    <div class="menuitemslide"></div>
                </a>
            </div>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            <div id="footerlinks">
                <h1>Gijs ten Berg</h1>
                <h2>4A2</h2>
            </div>
            <div id="footerrechts">
                <h1>CKV-website</h1>
                <h2><a href="/colofon">Colofon</a></h2>
            </div>
        </div>

    </body>
</html>