{% extends "ckvbasis.html" %}

{% set active_page = "b3" %}

{% block title %}Blok 3{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok megapaginatitel afb" id="megapaginatitelBlok3">
        <div class="megatitel-titeltekst">
            <span class="megatitel-activiteit">Jouw interpretatie</span>
            <span class="megatitel-blokendisci">Blok 3 - Film</span>
        </div>
        <div class="megatitel-credits">
            <span class="megatitelkunstwerk"><i>Opnames van</i> 20 Days in Mariupol</span>
            <span class="megatitelkunstenaar">Mstyslav Chernov</span>
        </div>
    </div>
    <div class="paginablok alginfoblok">
        <div class="alginfo-imgentext-container">
            <img class="alginfo-imgbackground" id="alginfo-imgbackground-blok3" src="/static/afbs/b3/no_other_land.jpg"></img>
            <div class="alginfo-imgcredits">
                <span class="alginfo-kunstwerk">No Other Land</span>
                <span class="alginfo-kunstenaar">Basel Adra, Hamdan Ballal,<br>Yuval Abraham en Rachel Szor</span>
            </div>
        </div>
        <div class="alginfo-textcontainer">
            <div class="alginfo-alginfobox">
                <h1>Algemene informatie</h1>
                <p>
                    Dit blok was ik ingedeeld bij de discipline <b>film</b> met als thema <b>jouw interpretatie</b>. Dit blok onderzochten we hoe gebeurtenissen en emoties in een film door iedereen wordt geïnterpreteerd.<br>
                    Dit blok kreeg ik les van <b>mw. te Loo</b>.<br>
                    De eerste twee lessen van dit blok gingen niet door. De derde les (<i>de facto</i> dus de eerste les) gingen we naar de documentaire <i><b>No Other Land</b></i> in <b>Wenneker Cinema</b>. De vierde les van dit blok (<i>de facto</i> dus de tweede les) kregen we een aantal opdrachten rond de interpretatie van de film.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
