{% extends "ckvbasis.html" %}

{% set active_page = "b3" %}

{% block title %}Blok 3{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok megapaginatitel afb" id="megapaginatitelBlok3">
        <div class="megatitel-titeltekst">
            <span class="megatitel-activiteit">Jouw interpretatie</span>
            <span class="megatitel-blokendisci">Blok 3 - Film</span>
        </div>
        <div class="megatitel-credits">
            <span class="megatitelkunstwerk"><i>Opnames van</i> 20 Days in Mariupol</span>
            <span class="megatitelkunstenaar">Mstyslav Chernov</span>
        </div>
    </div>
    <div class="paginablok alginfoblok">
        <div class="alginfo-imgentext-container">
            <img class="alginfo-imgbackground" id="alginfo-imgbackground-blok3" src="/static/afbs/b3/no_other_land.jpg"></img>
            <div class="alginfo-imgcredits">
                <span class="alginfo-kunstwerk">No Other Land</span>
                <span class="alginfo-kunstenaar">Basel Adra, Hamdan Ballal,<br>Yuval Abraham en Rachel Szor</span>
            </div>
        </div>
        <div class="alginfo-textcontainer">
            <div class="alginfo-alginfobox">
                <h1>Algemene informatie</h1>
                <p>
                    Dit blok was ik ingedeeld bij de discipline <b>film</b> met als thema <b>jouw interpretatie</b>. Dit blok onderzochten we hoe gebeurtenissen en emoties in een film door iedereen wordt geïnterpreteerd.<br>
                    Dit blok kreeg ik les van <b>mw. te Loo</b>.<br>
                    De eerste twee lessen van dit blok gingen niet door. De derde les (<i>de facto</i> dus de eerste les) gingen we naar de documentaire <i><b>No Other Land</b></i> in <b>Wenneker Cinema</b>. De vierde les van dit blok (<i>de facto</i> dus de tweede les) kregen we een aantal opdrachten rond de interpretatie van de film.
                </p>
            </div>
        </div>
    </div>



    <div class="paginablok kleurvak-buiten rood">
        <div class="textblok kleurvak-binnen textleft">
            <h1>Kleine verklaring & uitleg</h1>
            <p>
                ((( !!! ((( !!! HIER KOMT TEKST OVER DE VERSLAGVORM [zo nodig] !!! ))) !!! )))<br>
                <br>
                Veel leesplezier!
            </p>
        </div>
    </div>


    <div class="paginablok verslagtekst">
        <div class="verslagtekst-voorwoordje">
            <h1>Les 1 (les 3-3): excursie</h1>
            <p>
                Deze les begon in het lokaal, waar we met zijn allen de trailer van de documentaire bekeken. Tijdens deze bijeenkomst kregen we ook een korte uitleg over wat we dit blok voor de rest gingen doen en welke onderwerpen aan bod zouden komen. Dit zorgde voor duidelijkheid en een overzicht van de verwachtingen.<br>
                Na de introductie vertrok iedereen op eigen gelegenheid naar Wenneker Cinema, waar we de documentaire gingen bekijken.<br>
                De documentaire <i>No Other Land</i> richt zich op het leven van Palestijnen in Masafer Yatta, een gebied op de bezette Westelijke Jordaanoever. De film maakte duidelijk welke invloed recente gebeurtenissen hebben gehad op de lokale gemeenschap. Door middel van een verzameling beelden die gedurende de afgelopen twintig jaar zijn gemaakt, wordt het dagelijks leven van de bewoners in deze regio in beeld gebracht.<br>
                Daarnaast belicht de documentaire de (onwaarschijnlijke) vriendschap die is ontstaan tussen Basel Adra en de Israëlische journalist Yuval Abraham, wat een extra dimensie toevoegt aan het verhaal over de complexe realiteit in het gebied.
            </p>
        </div>
    </div>
    

    <div class="paginablok scheiding blauw"></div>


    <div class="paginablok verslagtekst">
        <div class="verslagtekst-voorwoordje">
            <h1>Les 2 (les 3-4): interpretatie</h1>
            <p>Deze les begon met een nabespreking van de documentaire. Daarna hebben we nog een verwerkingsopdracht gedaan rond het thema "onwaarschijnlijke vriendschappen". Tenslotte heeft iedereen een filmposter gemaakt voor de documentaire.</p>
        </div>
        <div class="verslagtekst-tekststukje">
            <p>
                Om de film na te bespreken kreeg iedereen een blaadje en de odpracht om de volgende vragen te beantwoorden:
            </p>
            <ol>
                <li>Wat betekent de titel 'no other land' voor jou na het zien van de film?</li>
                <li>Wat was je blik op het conflict voor het zien van de film?</li>
                <li>Heeft de film je blik veranderd? Zo ja op welke manier?</li>
                <li>Wat is je het meest bijgebleven uit de film?</li>
                <li>Waren er momenten in de film die je hoopvol vond?</li>
                <li>Hoe kijk je naar de vriendschap tussen Basel en Masafer?</li>
                <li>Wat is je bijgebleven uit de gesprekken die zij samen hadden in de film?</li>
            </ol>
            <p>!!! !!! EIGEN ANTWOORDEN TOEVOEGEN !!! !!!</p>
        </div>
        <div class="verslagtekst-tekststukje">
            <p>Vervolgens zijn we verder ingegaan op het thema "onwaarschijnlijke vriendschappen". We kregen de volgende opdracht:</p>
        </div>
    </div>
{% endblock %}
