<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - CKV - Gijs ten Berg</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvbasis.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/tijdelijk.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>


        {% block content %}{% endblock %}


    </body>
</html>