{% extends "ckvbasis.html" %}

{% set active_page = "b1" %}

{% block title %}Blok 1{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvb1.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvblokpaginas.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok megapaginatitel" id="megapaginatitelBlok1">
        <video autoplay muted loop id="megapaginatitelbalken">
          <source src="/static/vids/balken4.mp4" type="video/mp4">
        </video>
        <div class="megatitel-titeltekst">
            <span class="megatitel-activiteit">Het onzichtbare zichtbaar maken</span>
            <span class="megatitel-blokendisci">Blok 1 - Beeldend</span>
        </div>
        <div class="megatitel-credits">
            <span class="megatitelkunstwerk">Windows of the Soul II (2010)</span>
            <span class="megatitelkunstenaar">Sonia Falcone</span>
        </div>
    </div>
    <div class="paginablok alginfoblok">
        <div class="alginfo-imgbackground" id="alginfo-imgbackground-blok1"></div>
        <div class="alginfo-textcontainer">
            <div class="alginfo-imgcredits">
                <span class="alginfo-kunstwerk">Obliteration Room (2002 - heden)</span>
                <span class="alginfo-kunstenaar">Yayoi Kusama</span>
            </div>
            <div class="alginfo-alginfobox">
                <h1>Algemene informatie</h1>
                <p>
                    Dit blok was ik ingedeeld bij de discipline <b>beeldend</b> met als thema <b>het onzichtbare zichtbaar maken</b>.
                    Dit blok onderzochten we hoe we een boodschap in een kunstwerk kunnen verwerken (we maken de onzichtbare boodschap dus zichtbaar).
                    <br>
                    Dit blok kreeg ik les van <b>mw. Borst</b>. In dit blok werkte ik samen met <b>Raphael Estevao (4A1)</b>, <b>Aleksander Sosnowski (4A1)</b> en <b>Max Veenstra (4H3)</b>.
                    <br>
                    De tweede les van dit blok gingen we op excursie naar de tentoonstelling <b><i>NEW WAVE. Future Voices in Art.</i></b> in het <b>Stedelijk Museum Schiedam</b>.</p>
            </div>
        </div>
    </div>

    <div class="paginablok kleurvak-buiten rood">
        <div class="textblok kleurvak-binnen textleft">
            <h1>Kleine verklaring & uitleg</h1>
            <p>
                Deze pagina bevat diverse elementen, die mogelijk verspreid staan omdat ze op verschillende momenten zijn toegevoegd.
                Alles is echter aanwezig!
                <br>
                Eerst ziet u een overzicht van alle lessen, met uitleg over de inhoud van die les en het eigen werk per les.
                Daarna volgt (een link naar) het groepsverslag (i.o.v. onze docent van dit blok) en het tussenverslag.
                <br>
                De inhoud van het tussenverslag is niet gelimiteerd tot dat specifieke onderdeel.
                Aangezien zowel de rest van de inhoud van deze pagina als het groepsverslag ook door mij zijn geschreven, lijkt het passend om deze elementen te <b><i>betrekken</i></b> bij de inhoud van het tussenverslag.
                <br><br>
                Veel leesplezier!
            </p>
        </div>
    </div>

    <div class="paginablok verslagtekst">
        <div class="verslagtekst-voorwoordje">
            <h1>Les 1</h1>
            <p>
                De eerste les van dit blok ging over <b>hedendaagse kunst</b> en <b>installatiekunst</b>.
                <br>
                Hedendaagse kunst gaat vaak over maatschappelijke probleem.
                De boodschap van zo'n kunstwerk is vaak belangrijker dan het uiterlijk.
                Installatiekunst is een kunstvorm binnen de hedendaagse kunst.
                Installatiekunst wordt gekenmerkt door grote en interactieve kunstwerken, waardoor er veel inhoud kan worden overgebracht.
                <br><br>
                We interviewden elkaar aan de hand van een vragenlijst.
                Het doel van dit interview was het achterhalen van rituelen en gewoontes van elkaar.
            </p>
        </div>
        <div class="verslagtekst-eigenwerk">
            <div class="verslagtekst-eigenwerklinks">
                <h2>Eigen werk</h2>
                <p>
                    Als experiment tijdens de les moest iedereen een schildpad tekenen.
                    <br>
                    Nadat iedereen zijn tekening had gemaakt werden deze naast elkaar gelegd in het lokaal om aan te duiden dat iedereen dezelfde boodschap anders kan tekenen.
                </p>
            </div>
            <div class="kunstwerkmetcredits eigenwerk">
                <img src="/static/afbs/b1/schildpadgetekend.jpg">
                <span class="kunstwerknaam">Schildpad (2024)</span>
                <span class="kunstenaarnaam">Gijs ten Berg</span>
            </div>
        </div>
    </div>


    <div class="paginablok scheiding blauw"></div>


    <div class="paginablok verslagtekst">
        <div class="verslagtekst-voorwoordje">
            <h1>Les 2</h1>
            <p>
                De tweede les van dit blok gingen we op excursie naar de tentoonstelling <b><i>NEW WAVE. Future Voices in Art.</i></b> in het Stedelijk Museum Schiedam.
                Hier hebben we veel inspiratie opgedaan voor ons werk.
                We hebben in de praktijk gezien hoe je emoties en boodschappen in kunst kunt verwerken.
                Hieronder staat een overzicht van de kunstwerken in de tentoonstelling met een beschrijving van de inhoud.
            </p>
        </div>
        <div class="museumtabel">
            <div class="museumtabelkunstwerk">
                <div class="museumtabelkunstwerkfotos">
                    <img src="/static/afbs/b1/design1.jpg">
                    <img src="/static/afbs/b1/design2.jpg">
                    <img src="/static/afbs/b1/design3.jpg">
                </div>
                <div class="museumtabelkunstwerktekst">
                    <span class="mstkwt-kunstwerk">Context in Design, Design in Context: Pródogêrsi (2024)</span>
                    <span class="mstkwt-kunstenaar">Nifemi Marcus-Bello</span>
                    <p>
                        In dit kunstwerk staat <b>design</b> centraal.
                        De tassen waarmee mensen snoep en eten verkopen op de straten van Lagos.
                        In  het midden van de ruimte staat een paviljoen.
                        <br><br>
                        Volgens de kunstenaar is Afrika een <i>"designers utopia"</i>.
                        Alles wordt ontworpen met dagelijks gebruik in het achterhoofd, waardoor spullen heel praktisch zijn.
                    </p>
                </div>
            </div>
            <div class="museumtabelkunstwerk">
                <div class="museumtabelkunstwerkfotos">
                    <img src="/static/afbs/b1/rts1.jpg">
                    <img src="/static/afbs/b1/rts2.jpg">
                    <img src="/static/afbs/b1/rts3.jpg">
                </div>
                <div class="museumtabelkunstwerktekst">
                    <span class="mstkwt-kunstwerk">Return to Sender (2024)</span>
                    <span class="mstkwt-kunstenaar">The Nest Collective</span>
                    <p>
                        Dit kunstwerk bestaat uit blokken oude kleding.
                        Veel mensen in Nederland sturen kleding naar Kenia.
                        In Kenia kunnen ze echter heel weinig met deze kleding.
                        Nest Collective stuurt het textielafval terug naar waar het vandaan kwam.
                        In dit geval dus Schiedam.
                        <br><br>
                        Ik vind dit een erg mooi kunstwerk, omdat het verhaal achter het kunstwerk veel uitleg en betekenis geeft.
                        Door het verhaal erachter zie je het kunstwerk in een ander perspectief: het is echte kleding en dit is echt naar Kenia gestuurd.
                    </p>
                </div>
            </div>
            <div class="museumtabelkunstwerk">
                <div class="museumtabelkunstwerkfotos">
                    <img src="/static/afbs/b1/vierc1.jpg">
                    <img src="/static/afbs/b1/vierc2.jpg">
                    <img src="/static/afbs/b1/vierc2.jpg">
                </div>
                <div class="museumtabelkunstwerktekst">
                    <span class="mstkwt-kunstwerk">The 4c Body (2024)</span>
                    <span class="mstkwt-kunstenaar">Marga Weimans</span>
                    <p>
                        In dit kunstwerk staat de "zwarte identiteit" centraal.
                        De naam 4c komt van het haartype van Weimans.
                        De trap symboliseert mensen die elkaars haar vlechten.
                        Dit doet Weimans denken aan haar jeugd, want tijdens het vlechten van het haar werden altijd veel verhalen verteld.
                    </p>
                </div>
            </div>
            <div class="museumtabelkunstwerk">
                <div class="museumtabelkunstwerkfotos">
                    <img src="/static/afbs/b1/vh1.jpg">
                    <img src="/static/afbs/b1/vh2.jpg">
                    <img src="/static/afbs/b1/vh3.jpg">
                </div>
                <div class="museumtabelkunstwerktekst">
                    <span class="mstkwt-kunstwerk">Void Home (2024)</span>
                    <span class="mstkwt-kunstenaar">Elejandro Martinez</span>
                    <p>
                        In dit kunstwerk wordt het idee van mensen die hun thuis met zich meedragen onderzocht.
                        De veren symboliseren een centrale figuur in het Caribische carnaval.
                        Het staat symbool voor Martinez' gevoel van thuis: trots, vreugde en aanwezigheid.
                    </p>
                </div>
            </div>
        </div>
        <div class="verslagtekst-eigenwerk">
            <div class="verslagtekst-eigenwerklinks">
                <h2>Eigen werk</h2>
                <p>
                    In het museumatelier hebben we een eigen installatiekunstwerk gemaakt met een sociaal probleem als thema.
                    Ons werk is een installatiekunstwerk, omdat bezoekers er zelf doorheen mogen lopen, waardoor het kunstwerk interactief is.
                    Vanuit elk perspectief zie je iets nieuws, waardoor je steeds geïnspireerd blijft.
                    <br>
                    Het thema dat wij hebben gekozen is <b>plastic soep</b>.
                    Wij hebben een schildpad gemaakt die in een plastic soep zwemt.
                    De schildpad stikte als het ware in het plastic.
                </p>
            </div>
            <div class="kunstwerkmetcredits eigenwerk">
                <img src="/static/afbs/b1/zeeschildpad.png">
                <span class="kunstwerknaam">Onze wereld (2024)</span>
                <span class="kunstenaarnaam">Raphael Estevao, Max Veenstra,<br>Aleksander Sosnowski en Gijs ten Berg</span>
            </div>
        </div>
    </div>


    <div class="paginablok scheiding blauw"></div>


    <div class="paginablok verslagtekst">
        <h1>Les 3</h1>
        <p>
            De derde les van dit blok gingen we voor het eerst echt zelf aan de slag.
            In de eerder gevormde groepjes gingen we de basis leggen voor ons onderzoek.
            De resultaten van dit onderzoek worden verwerkt in ons eigen kunstwerk.
            Hoe je zo'n boodschap in een kunstwerk kan verwerken hebben we in de eerste 2 lessen besproken.
            We gaan dus <b><i>het onzichtbare zichtbaar maken</i></b>.
            <br><br>
            Wij hebben gekozen voor het thema nepnieuws, omdat het een actueel en belangrijk thema is.
            Vervolgens hebben we het idee gekregen om een neppe voorpagina van een krant te maken.
            Ons eerste idee was het maken van een simpele poster met nepnieuws erop, maar na feedback van de docent hebben we gekozen voor een voorpagina van een krant.
            We gaan dus onderzoek doen naar de beïnvloeding van mensen en welke rol design en ontwerp daarin speelt.
            <br><br>
            In deze les hebben we onze onderzoeksvraag geformuleerd, de taakverdeling (zie hieronder) gemaakt en een algemene planning gemaakt voor een goede coördinatie hoe we dit moeten aanpakken.
            <br><br>
        </p>
        <h2>Taakverdeling</h2>
        <p>
            Gijs heeft de taak "administratie" gekregen (planners maken, taakverdeling maken, documenten en overzichten maken, coördineren van het gemaakte werk, notulen en groepsverslagen maken).
            Raphael en Aleksander hebben de taak "onderzoek" gekregen (onderzoek doen, bronnen noteren, afbeeldingen zoeken, voorbeelden zoeken).
            Max heeft de taak "uitvoering" gekregen (tekenen, poster maken en lay-out maken).
            Deze taken zijn echter geen strenge grenzen, zo heeft Gijs bijvoorbeeld een keertje geholpen met het tekenen en heeft Max geholpen met het zoeken van afbeeldingen.
            Deze les was er niet echt een taakverdeling nodig, omdat dit het begin was van ons bouwproces en we met elkaar moesten bepalen wat we gaan maken.
        </p>
        <p>
            <b>Zie het groepsverslag onderaan deze pagina voor meer informatie over wat we deze les hebben gedaan.</b>
        </p>
    </div>

    <div class="paginablok scheiding blauw"></div>

    <div class="paginablok verslagtekst">
        <h1>Les 4</h1>
        <p>
            De vierde les van dit blok begonnen we met het ontwerpen van onze krant.
            Deze les hebben we veel besteed aan het maken van de artikelen.
            Elke krant bestaat natuurlijk uit artikelen, dus we beschouwen dit als de kern van ons kunstproject.
            De artikelen hebben we in een Google Document geschreven.
            Deze les hebben we ook veel nagedacht over de lay-out van onze krant.
            We wilden de lay-out zo realistisch mogelijk maken.
            <br><br>
            <b>De taakverdeling van deze les was als volgt</b>
            <ul>
                <li>Raphael: onderzoek doen & 1 artikel schrijven samen met Max</li>
                <li>Aleksander: onderzoek doen & 1 artikel schrijven</li>
                <li>Max: beginnen met lay-out (incl. schets maken, zie volgende pagina), 1 artikel schrijven samen met Raphael & 1 klein artikel schrijven</li>
                <li>Gijs: ideeën verzamelen, beginnen aan informatie voor verslag & 1 artikel schrijven</li>
            </ul>
        </p>
        <div class="verslagtekst-afbeeldingenalg">
            <img src="/static/afbs/b1/werken1.jpg">
            <img src="/static/afbs/b1/werken2.jpg">
        </div>
    </div>

    <div class="paginablok scheiding blauw"></div>

    <div class="paginablok verslagtekst">
        <h1>Les 5</h1>
        <p>
            Deze les hebben we de krant volledig voltooid.
            We hebben de laatste details toegevoegd, zoals de datum van de krant, het weerbericht, 2 advertenties en het logo van het AD (deze hebben we uit de echte meegenomen AD-krant geknipt, want het getekende logo was te klein).
            In deze les kwam ons product tot leven. We hebben dus <b>het onzichtbare zichtbaar gemaakt ;)</b>.
            <br><br>
            <b>De taakverdeling van deze les was als volgt</b>
            <ul>
                <li>Raphael: knippen en plakken & advertenties tekenen</li>
                <li>Aleksander: knippen en plakken & advertenties tekenen</li>
                <li>Max: ontwerp/lay-out maken en toepassen, poster in elkaar zetten</li>
                <li>Gijs: knippen en plakken, overleg tussen personen, weerbericht maken</li>
            </ul>
        </p>
        <div class="verslagtekst-afbeeldingenalg">
            <img src="/static/afbs/b1/werken51.jpg" class="vtxtafb-vierkant">
            <img src="/static/afbs/b1/werken52.jpg" class="vtxtafb-lang">
            <img src="/static/afbs/b1/werken53.jpg" class="vtxtafb-lang">
            <img src="/static/afbs/b1/werken54.jpg" class="vtxtafb-vierkant">
            <img src="/static/afbs/b1/werken55.jpg" class="vtxtafb-vierkant">
            <a href="https://drive.google.com/file/d/1_1vxHdPLLH0mS5mTJXsVwu1gf1TWpjjd/view?usp=sharing" class="knop blauw timelapse" target="_blank">Bekijk de timelapse van deze les&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        <h2><br>Eindproduct</h2>
        <p>Dit is ons eindproduct voor dit blok.</p>
        <div class="kunstwerkmetcredits eigenwerk eindwerk">
            <img src="/static/afbs/b1/eindwerk.jpg" id="eindwerkimg">
            <span class="kunstwerknaam">Voorpagina Algemeen Dagblad (Rotterdam) van 29 februari 2024 (nepnieuws) (2024)</span>
            <span class="kunstenaarnaam">Raphael Estevao, Max Veenstra, Aleksander Sosnowski en Gijs ten Berg</span>
        </div>
    </div>

    <div class="paginablok scheiding blauw"></div>

    <div class="paginablok verslagtekst">
        <h1>Groepsverslag</h1>
        <p>
            I.o.v. onze docent hebben we voor dit blok een groepsverslag gemaakt.
            In dit verslag staat onze <b>taakverdeling</b>, de <b>uitgevoerde taken per les</b>, <b>veel foto's over ons maakproces</b>, ons <b>eindproduct</b>, ons <b>kunstonderzoek</b>, onze <b>inspiratie</b> en <b>nog meer</b>!
        </p>
        <a href="/static/pdfs/GroepsverslagOnzichtbaar.pdf" class="knop blauw groepsverslag" target="_blank">Bekijk het groepsverslag&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>



{% endblock %}