<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/error.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckverror.css') }}">
        <style>
            body {
                background-image: url("{{ afburl }}");
                color: {{ txtcolor }};
            }
        </style>
    </head>
    <body>
        <div id="txtbox">
            <span id="errornum">{{ errornum }}</span>
            <div id="extra-info">
                <span id="errorbericht1">{{ errorbericht1 }}</span>
                <span id="errorbericht2">{{ errorbericht2 }}</span>
                <small>{{ e }}</small>
            </div>
            <a href="/">Naar homepagina</a>
        </div>
        <div id="credits">
            <span id="kunstwerknaam">{{ kunstwerk }}</span>
            <span id="kunstenaarnaam">{{ kunstenaar }}</span>
        </div>
    </body>
</html>