{% extends "ckvbasis.html" %}

{% set active_page = "ei" %}

{% block title %}Eigen initiatieven{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvei.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok grotepaginatitel" id="paginatitelblokei">
        <span id="eititel">Eigen initiatieven</span>
        <span id="eititelcredits">Alex Talmon</span>
    </div>
    <div class="paginablok kleurvak-buiten groen">
        <div class="textblok kleurvak-binnen">
            <p>
                Op deze pagina vindt u alle eigen initiatieven die ik dit jaar heb gedaan met de bijbehorende verslagen.
            </p>
        </div>
    </div>
    <div class="paginablok lijst" id="eierlijst">
        <div class="eiitem kleurvak-buiten geel">
            <div class="kleurvak-binnen eiitembinnen">
                <div class="eiitemlinks">
                    <span class="eititel">Eigen initiatief 1</span>
                    <span class="eidiscipline">Beeldend</span>
                    <span class="eiactiviteit">Zoeken naar Zingeving</span>
                    <span class="eilocatie">Kröller-Müller Museum (Otterlo)</span>
                    <span class="eidatum">Bezoek op 30 oktober 2024</span>
                    <a href="/static/pdfs/EI1-Beeldend-ZoekenNaarZingeving.pdf" class="knop blauw eiverslag" target="_blank">Bekijk verslag&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="kunstwerkmetcredits eivoorbeeld">
                    <img src="/static/afbs/olijfgaard.jpg" alt="Olijfgaard (1889) - Vincent van Gogh">
                    <span class="kunstwerknaam">Olijfgaard (1889)</span>
                    <span class="kunstenaarnaam">Vincent van Gogh</span>
                </div>
            </div>
        </div>
    </div>
    <div class="paginablok lijst" id="eierlijst">
        <div class="eiitem kleurvak-buiten rood">
            <div class="kleurvak-binnen eiitembinnen">
                <div class="eiitemlinks">
                    <span class="eititel">Eigen initiatief 2</span>
                    <span class="eidiscipline">Architectuur</span>
                    <span class="eiactiviteit">Depot Boijmans Van Beuningen</span>
                    <span class="eilocatie">Museumpark (Rotterdam)</span>
                    <span class="eidatum">Bezoek op 28 februari 2025</span>
                    <a href="/static/pdfs/EI2-Architectuur-Depot.pdf" class="knop blauw eiverslag" target="_blank">Bekijk verslag&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="kunstwerkmetcredits eivoorbeeld">
                    <img src="/static/afbs/depot.jpg" alt="Depot Boijmans Van Beuningen - MVRDV">
                    <span class="kunstwerknaam">Depot Boijmans van Beuningen</span>
                    <span class="kunstenaarnaam">MVRDV</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
