{% extends "ckvbasis.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvhome.css') }}">
{% endblock %}

{% block content %}
    <div id="bollen">
        <div id="naamtextbox">
            <h1>Gijs ten Berg</h1>
            <h2>CKV-website</h2>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <div class="paginablok kleurvak-buiten geel" id="introductie">
        <div class="textblok kleurvak-binnen" id="introductietext">
            <h1>Welkom!</h1>
            <p>Deze website is mijn digitale CKV-dossier voor het schooljaar 2024-2025.<br>
            Hieronder vindt u een kort overzicht van de inhoud van elke pagina.<br>
            U kunt uiteraard ook het menu gebruiken om tussen de pagina's te navigeren.<br>
            Veel leesplezier!
        </div>
    </div>
    <div class="paginablok" id="pagoverzicht">
        {% for item in pagdata %}
            <div class="pagitem">
                <div class="pagitemlinks">
                    <span class="pagitemtextmain">{{ item.Menuitemnaam }}</span>
                    {% if item.Onder1 %}
                        <span class="pagitemtexto1">{{ item.Onder1 }}</span>
                    {% endif %}
                    {% if item.Onder2 %}
                        <span class="pagitemtexto2">{{ item.Onder2 }}</span>
                    {% endif %}
                    <a href="{{ item.Paglink }}" class="knop wit pagitemtextlink">Naar pagina&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="pagitemrechts">
                    <img src="{{ item.Afb }}" class="{{ item.Afbstat }}" alt="{{ item.afbbij1 if item.afbbij1 }} - {{ item.afbbij2 if item.afbbij2 }}">
                    {% if item.afbbij1 %}
                        <span class="pagitemtextimgb1">{{ item.afbbij1 }}</span>
                    {% endif %}
                    {% if item.afbbij2 %}
                        <span class="pagitemtextimgb2">{{ item.afbbij2 }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="module">
        import Spheres2Background from 'https://cdn.jsdelivr.net/npm/threejs-components@0.0.8/build/backgrounds/spheres2.cdn.min.js';

        try {
            const bg = Spheres2Background(document.getElementById("canvas"), {
                count: 275,
                colors: [0xeaf2ef, 0x197bbd, 0x04a777],
                minSize: 0.7,
                maxSize: 1.2
            });

        } catch (error) {
            console.error('Fout bij het laden van de achtergrond:', error);
            const bollen = document.getElementById("bollen")
            bollen.style.background = "url('https://picsum.photos/id/347/5000/4000') no-repeat center center fixed";
            bollen.style.backgroundSize = "cover";
        }
    </script>
{% endblock %}
