{% extends "ckvbasis.html" %}

{% set active_page = "intro" %}

{% block title %}Introductielessen{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvintro.css') }}">
{% endblock %}

{% block content %}
<div class="paginablok grotepaginatitel" id="paginatitelblokintro">
    <div id="introtitellinks">
        <span id="introtiteltxt">Introductielessen</span>
        <span id="thematiteltxt">Liefde</span>
    </div>
    <div id="titelafb" class="kunstwerkmetcredits">
        <img src="https://i.ibb.co/hxdtb2kx/Haring-RMBG.png">
        <span class="kunstwerknaam">Untitled (1989)</span>
        <span class="kunstenaarnaam">Keith Haring</span>
    </div>
</div>
<div class="paginablok" id="gevolgddiscicontainer">
    <h1>Gevolgde disciplines</h1>
    <div id="gevolgddiscilijst">
        <div class="gevolgddisciitem">
            <i class="fa-solid fa-music"></i>
            <span class="gevolgddiscidisci">Muziek</span>
            <span class="gevolgddiscitekstje">De eerste introductieles, op 12 september, was ik ingedeeld bij de discipline muziek, gegeven door <strong>dhr. Zanen</strong>.</span>
        </div>
        <div class="gevolgddisciitem">
            <i class="fa-solid fa-pencil"></i>
            <span class="gevolgddiscidisci">Grafisch/illustratie</span>
            <span class="gevolgddiscitekstje">De tweede introductieles, op 19 september, was ik ingedeeld bij de discipline grafisch/illustratie, gegeven door <strong>mw. Elward</strong>.</span>
        </div>
    </div>
</div>

<!-- Muziek -->
<div class="paginablok deeltitel kleurvak-buiten rood">
    <div class="textblok kleurvak-binnen">
        <h1>Muziek</h1>
    </div>
</div>
<div class="paginablok lesvoorbeelden">
    <span class="blokheader">Voorbeelden uit de les</span>
    <div class="lijstvanvoorbeelden">
        <div class="voorbeelditem">
            <span class="voorbeelditemkunstwerk">Love of my life (1999)</span>
            <span class="voorbeelditemkunstenaar">Santana ft. Dave Matthews</span>
            <audio controls src="/static/muziek/Santana.mp3" controlslist="nodownload"></audio>
            <p class="voorbeeldbeschrijving">
                <strong>Vorm</strong>: Een rocknummer over liefde. Het nummer heeft een kenmerkende melodie. Er komen veel verschillende (kenmerken van) muziekstijlen terug in het nummer, zoals hiphop, rap en zelfs salsa. Het nummer is veel beïnvloed door muziek uit Spanje, Portugal en Cuba.
                <br>
                <strong>Inhoud</strong>: De liefde voor een persoon. De liefde draait in dit geval om hoop en verlangen.
                <br>
                <strong>Materiaal</strong>: Gitaar, zang, keyboard, bas, drums en een conga (slaginstrument uit Cuba).
                <br><br>
                Als je de <strong>vorm</strong> zou veranderen zou het lied - vooral de tekst - erg anders overkomen. Als dit een bijvoorbeeld een hiphopnummer was geweest, was de songtekst een veel belangrijker element geweest, waardoor de boodschap ook duidelijker was geweest. Dit zou ook de sfeer en de emotie van dit nummer veranderen. Het veranderen van de vorm zou dus veel invloed hebben op de inhoud.
            </p>
        </div>
        <div class="voorbeelditem">
            <span class="voorbeelditemkunstwerk">Hij is van mij (2018)</span>
            <span class="voorbeelditemkunstenaar">Kriss Kross Amsterdam, Maan & Tabitha ft. Bizzey</span>
            <audio controls src="/static/muziek/Hivm.mp3" controlslist="nodownload"></audio>
            <p class="voorbeeldbeschrijving">
                <strong>Vorm</strong>: Een dancenummer over de liefde.
                <br>
                <strong>Inhoud</strong>: Het nummer gaat over het verdriet van 2 vrouwen die allebei verliefd zijn op dezelfde man. In het nummer hoor je dit ook terug: het lijkt op een soort strijd tussen zangeressen Maan en Tabitha.
                <br>
                <strong>Materiaal</strong>: Gitaar, zang, drums
                <br><br>
                Als je het <strong>materiaal</strong> zou veranderen, zouden de overgebrachte emoties erg verschillend kunnen zijn. Als dit nummer gespeeld zou worden door een orkest, zou de emotie van liefdesverdriet en de strijd tussen personen veel duidelijker worden, en de tekst zou een stuk minder belangrijk worden.
            </p>
        </div>
    </div>
</div>
<div class="paginablok lesvbverg">
    <span class="blokheader">Verschillen en overeenkomsten</span>
    <div class="vergelijkinggraphic">
        <div class="verggraph links">
            Love of my life - Santana ft. Dave Matthews
        </div>
        <i class="fa-solid fa-arrows-left-right"></i>
        <div class="verggraph rechts">
            Hij is van mij - Kriss Kross Amsterdam, Maan & Tabitha ft. Bizzey
        </div>
    </div>
    <div class="verschillenovereenkomsten">
        <div class="verg links">
            <span class="vergelijkingsonderdeeltitel">Verschillen</span>
            <p class="vergelijkingsonderdeeltekst">
                Love of my life gaat niet over een strijd tussen 2 personen. Ook is het in dat nummer veel abstracter wie de persoon is waarover de liefde gaat. In Hij is van mij is dit ook niet erg duidelijk, maar het is duidelijker dat het om een man gaat en deze persoon is veel duidelijker "in beeld".
            </p>
        </div>
        <div class="verg rechts">
            <span class="vergelijkingsonderdeeltitel">Overeenkomsten</span>
            <p class="vergelijkingsonderdeeltekst">
                De melodie van beide kenmerken wordt gekenmerkt door een gitaar.<br>Beide nummers gaan over de liefde voor een persoon.<br>De instrumenten van de beide nummers passen goed bij de emotie en de sfeer van het nummer.
            </p>
        </div>
    </div>
</div>

<!-- /Muziek

Grafisch -->
<div class="paginablok deeltitel kleurvak-buiten rood">
    <div class="textblok kleurvak-binnen">
        <h1>Grafisch/illustratie</h1>
    </div>
</div>
<div class="paginablok lesvoorbeelden">
    <span class="blokheader">Voorbeelden uit de les</span>
    <div class="lijstvanvoorbeelden">
        <div class="voorbeelditem">
            <span class="voorbeelditemkunstwerk">Untitled (Heart of heads) (1989)</span>
            <span class="voorbeelditemkunstenaar">Keith Haring</span>
            <img src="https://i.ibb.co/hxdtb2kx/Haring-RMBG.png">
            <p class="voorbeeldbeschrijving">
                <strong>Vorm</strong>: Een dynamische compositie. Je ziet 2 abstracte mensfiguren. Hun hoofden vormen samen een hartvormige knoop. De simpele lijnen en felle kleuren zorgen voor veel energie en vreugde.
                <br>
                <strong>Inhoud</strong>: Liefde en dans. De 2 figuren zijn verbonden door een hartvormige knoop, wat verbinding uitstraalt.
                <br>
                <strong>Materiaal</strong>: Zeefdruk met inkt op waterbasis op een canvas van 20 x 20 cm.
                <br><br>
                Als je het <strong>materiaal</strong> zou veranderen, zou je de connectie tussen de 2 figuren beter kunnen benadrukken. Als je dit kunstwerk van klei zou maken, zou je de connectie (de geknoopte hoofden) meer naar voren laten komen. Het dansen van de figuren zou dan ook duidelijker worden.
            </p>
        </div>
        <div class="voorbeelditem">
            <span class="voorbeelditemkunstwerk">Voor H. (2009 - 2018)</span>
            <span class="voorbeelditemkunstenaar">Gijs Assman</span>
            <img src="https://image.trouw.nl/134128708/width/750/een-van-de-liefdescollages-die-gijs-assmann-voor-h-maakte">
            <p class="voorbeeldbeschrijving">
                <strong>Vorm</strong>: een dynamische collage. In het midden staat een roze hart. Er zijn veel personen afgebeeld in het hart en er staan mythische wezens rond het hart.
                <br>
                <strong>Inhoud</strong>: Liefdesbetuiging voor partner. Van 2009 tot 2018 stuurde Gijs Assmann zijn geliefde elke dag dat ze niet samen waren een kaart of collage per post. De kern is dus het uiten van zijn liefde voor 1 persoon.
                <br>
                <strong>Materiaal</strong>: afbeeldingen uit oude boeken, kranten en tijdschriften.
                <br><br>
                Als je het <strong>materiaal</strong> verandert naar een simpele tekening, is het kunstwerk een stuk minder uniek. De kern van dit kunstwerk is dat het elke dag ambachtelijk wordt gemaakt en dat het de originele gedachten en gevoelens van de kunstenaar weergeeft. Als de kunstenaar elke dag een tekening zou maken, zou de liefde minder goed benadrukt worden.
            </p>
        </div>
    </div>
</div>
<div class="paginablok lesvbverg">
    <span class="blokheader">Verschillen en overeenkomsten</span>
    <div class="vergelijkinggraphic">
        <div class="verggraph links">
            <img src="https://i.ibb.co/hxdtb2kx/Haring-RMBG.png">
        </div>
        <i class="fa-solid fa-arrows-left-right"></i>
        <div class="verggraph rechts">
            <img src="https://image.trouw.nl/134128708/width/750/een-van-de-liefdescollages-die-gijs-assmann-voor-h-maakte">
        </div>
    </div>
    <div class="verschillenovereenkomsten">
        <div class="verg links">
            <span class="vergelijkingsonderdeeltitel">Verschillen</span>
            <p class="vergelijkingsonderdeeltekst">
                Voor H. ziet er veel drukker uit dan Head of Harts. Dit komt door het verschil in het aantal kleuren, en het aantal afgebeelde objecten.<br>De boodschap van Head of Harts is duidelijker te herkennen dan de boodschap van Voor H., want de mensfiguren en het hartje zijn makkelijker te herkennen dan de grote collage.
            </p>
        </div>
        <div class="verg rechts">
            <span class="vergelijkingsonderdeeltitel">Overeenkomsten</span>
            <p class="vergelijkingsonderdeeltekst">
                Beide werken zijn 2 dimensionaal en niet groter dan een A4'tje.<br>Beide kunstwerken maken gebruik van een hart om de boodschap (liefde) duidelijk te maken.<br>Beide werken zijn vrij abstract. Ze zijn niet bedoeld om een echte situatie weer te geven.
            </p>
        </div>
    </div>
</div>
<div class="paginablok eigenwerk">
    <div id="eigenwerkgrafischlinks">
        <span class="blokheader">Eigen werk</span>
        Tijdens de introductieles grafisch/illustratie heb ik zelf een werk gemaakt geïnspireerd op het werk van Keith Haring. Het werk moest een sociaal probleem laten zien. Ik heb gekozen voor inkomensongelijkheid.
        <br>
        Voor mijn tekening heb ik gebruik gemaakt van een zwarte marker, kleurpotloden en viltstiften.
    </div>
    <div id="eigenwerkgrafischrechts" class="kunstwerkmetcredits">
        <img src="/static/afbs/introlesgrafischprachtigetekening.png">
        <span class="kunstwerknaam">Minder sociale ongelijkheid (2024)</span>
        <span class="kunstenaarnaam">Gijs</span>
    </div>
</div>


<!-- /Grafisch -->
{% endblock %}