{% extends "ckvbasis.html" %}

{% set active_page = "intro" %}

{% block title %}Introductielessen{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ckvintro.css') }}">
{% endblock %}

{% block content %}
    <div class="paginablok grotepaginatitel" id="paginatitelblokintro">
        <div id="introtitellinks">
            <span id="introtiteltxt">Introductielessen</span>
            <span id="thematiteltxt">Liefde</span>
        </div>
        <div id="titelafb" class="kunstwerkmetcredits">
            <img src="/static/afbs/Haring-danson.png" alt="Untitled (1989) - Keith Haring">
            <span class="kunstwerknaam">Untitled (1989)</span>
            <span class="kunstenaarnaam">Keith Haring</span>
        </div>
    </div>
    <div class="paginablok kleurvak-buiten groen">
        <div class="textblok kleurvak-binnen">
            <p>
                Deze introductielessen gingen over <b>liefde</b>. Op deze pagina vindt u mijn verslag voor deze lessen en mijn onderzoeksopdracht. Veel leesplezier!
            </p>
        </div>
    </div>
    <div class="paginablok" id="gevolgddiscicontainer">
        <h1>Gevolgde disciplines</h1>
        <div id="gevolgddiscilijst">
            <div class="gevolgddisciitem">
                <i class="fa-solid fa-music"></i>
                <span class="gevolgddiscidisci">Muziek</span>
                <span class="gevolgddiscitekstje">De eerste introductieles, op 12 september, was ik ingedeeld bij de discipline muziek, gegeven door <b>dhr. Zanen</b>.</span>
            </div>
            <div class="gevolgddisciitem">
                <i class="fa-solid fa-pencil"></i>
                <span class="gevolgddiscidisci">Grafisch/illustratie</span>
                <span class="gevolgddiscitekstje">De tweede introductieles, op 19 september, was ik ingedeeld bij de discipline grafisch/illustratie, gegeven door <b>mw. Elward</b>.</span>
            </div>
        </div>
    </div>

    <!-- Muziek -->
    <div class="paginablok deeltitel kleurvak-buiten rood">
        <div class="textblok kleurvak-binnen">
            <h1>Muziek <i class="fa-solid fa-music"></i></h1>
        </div>
    </div>
    <div class="paginablok lesvoorbeelden">
        <span class="blokheader">Voorbeelden uit de les</span>
        <div class="lijstvanvoorbeelden">
            <div class="voorbeelditem">
                <span class="voorbeelditemkunstwerk">Love of my life (1999)</span>
                <span class="voorbeelditemkunstenaar">Santana ft. Dave Matthews</span>
                <audio controls src="/static/muziek/Santana.mp3"></audio>
                <p class="voorbeeldbeschrijving">
                    <b>Vorm</b>: Een rocknummer over liefde. Het nummer heeft een kenmerkende melodie.Er komen veel verschillende (kenmerken van) muziekstijlen terug in het nummer, zoals hiphop, rap en zelfs salsa. Het nummer is veel beïnvloed door muziek uit Spanje, Portugal en Cuba.
                    <br>
                    <b>Inhoud</b>: De liefde voor een persoon. De liefde draait in dit geval om hoop en verlangen.
                    <br>
                    <b>Materiaal</b>: Gitaar, zang, keyboard, bas, drums en een conga (slaginstrument uit Cuba).
                    <br><br>
                    Als je de <b>vorm</b> zou veranderen zou het lied - vooral de tekst - erg anders overkomen. Als dit een bijvoorbeeld een hiphopnummer was geweest, was de songtekst een veel belangrijker element geweest, waardoor de boodschap ook duidelijker was geweest. Dit zou ook de sfeer en de emotie van dit nummer veranderen. Het veranderen van de vorm zou dus veel invloed hebben op de inhoud.
                </p>
            </div>
            <div class="voorbeelditem">
                <span class="voorbeelditemkunstwerk">Hij is van mij (2018)</span>
                <span class="voorbeelditemkunstenaar">Kriss Kross Amsterdam, Maan & Tabitha ft. Bizzey</span>
                <audio controls src="/static/muziek/Hivm.mp3"></audio>
                <p class="voorbeeldbeschrijving">
                    <b>Vorm</b>: Een dancenummer over de liefde.
                    <br>
                    <b>Inhoud</b>: Het nummer gaat over het verdriet van 2 vrouwen die allebei verliefd zijn op dezelfde man. In het nummer hoor je dit ook terug: het lijkt op een soort strijd tussen zangeressen Maan en Tabitha.
                    <br>
                    <b>Materiaal</b>: Gitaar, zang, drums
                    <br><br>
                    Als je het <b>materiaal</b> zou veranderen, zouden de overgebrachte emoties erg verschillend kunnen zijn. Als dit nummer gespeeld zou worden door een orkest, zou de emotie van liefdesverdriet en de strijd tussen personen veel duidelijker worden, en de tekst zou een stuk minder belangrijk worden.
                </p>
            </div>
        </div>
    </div>
    <div class="paginablok lesvbverg">
        <span class="blokheader">Verschillen en overeenkomsten</span>
        <div class="vergelijkinggraphic">
            <div class="verggraph links">
                Love of my life - Santana ft. Dave Matthews
            </div>
            <i class="fa-solid fa-arrows-left-right"></i>
            <div class="verggraph rechts">
                Hij is van mij - Kriss Kross Amsterdam, Maan & Tabitha ft. Bizzey
            </div>
        </div>
        <div class="verschillenovereenkomsten">
            <div class="verg links">
                <span class="vergelijkingsonderdeeltitel">Verschillen</span>
                <p class="vergelijkingsonderdeeltekst">
                    <i>Love of my life</i> gaat niet over een strijd tussen 2 personen.
                    Ook is het in dat nummer veel abstracter wie de persoon is waarover de liefde gaat.
                    In <i>Hij is van mij</i> is dit ook niet erg duidelijk, maar het is duidelijker dat het om een man gaat en deze persoon is veel duidelijker "in beeld".
                </p>
            </div>
            <div class="verg rechts">
                <span class="vergelijkingsonderdeeltitel">Overeenkomsten</span>
                <p class="vergelijkingsonderdeeltekst">
                    De melodie van beide kenmerken wordt gekenmerkt door een gitaar.
                    <br>
                    Beide nummers gaan over de liefde voor een persoon.
                    <br>
                    De instrumenten van de beide nummers passen goed bij de emotie en de sfeer van het nummer.
                </p>
            </div>
        </div>
    </div>

    <!-- /Muziek

    Grafisch -->


    <div class="paginablok deeltitel kleurvak-buiten rood">
        <div class="textblok kleurvak-binnen">
            <h1>Grafisch/illustratie <i class="fa-solid fa-pencil"></i></h1>
        </div>
    </div>
    <div class="paginablok lesvoorbeelden">
        <span class="blokheader">Voorbeelden uit de les</span>
        <div class="lijstvanvoorbeelden">
            <div class="voorbeelditem">
                <span class="voorbeelditemkunstwerk">Untitled (Heart of heads) (1989)</span>
                <span class="voorbeelditemkunstenaar">Keith Haring</span>
                <img src="/static/afbs/Haring-danson.png" alt="Untitled (Heart of heads) (1989) - Keith Haring">
                <p class="voorbeeldbeschrijving">
                    <b>Vorm</b>: Een dynamische compositie. Je ziet 2 abstracte mensfiguren. Hun hoofden vormen samen een hartvormige knoop. De simpele lijnen en felle kleuren zorgen voor veel energie en vreugde.
                    <br>
                    <b>Inhoud</b>: Liefde en dans. De 2 figuren zijn verbonden door een hartvormige knoop, wat verbinding uitstraalt.
                    <br>
                    <b>Materiaal</b>: Zeefdruk met inkt op waterbasis op een canvas van 20 x 20 cm.
                    <br><br>
                    Als je het <b>materiaal</b> zou veranderen, zou je de connectie tussen de 2 figuren beter kunnen benadrukken. Als je dit kunstwerk van klei zou maken, zou je de connectie (de geknoopte hoofden) meer naar voren laten komen. Het dansen van de figuren zou dan ook duidelijker worden.
                </p>
            </div>
            <div class="voorbeelditem">
                <span class="voorbeelditemkunstwerk">Voor H. (2009 - 2018)</span>
                <span class="voorbeelditemkunstenaar">Gijs Assman</span>
                <img src="/static/afbs/voorh.jpg" alt="Voor H. (2009 - 2018) - Gijs Assman">
                <p class="voorbeeldbeschrijving">
                    <b>Vorm</b>: een dynamische collage. In het midden staat een roze hart. Er zijn veel personen afgebeeld in het hart en er staan mythische wezens rond het hart.
                    <br>
                    <b>Inhoud</b>: Liefdesbetuiging voor partner. Van 2009 tot 2018 stuurde Gijs Assmann zijn geliefde elke dag dat ze niet samen waren een kaart of collage per post. De kern is dus het uiten van zijn liefde voor 1 persoon.
                    <br>
                    <b>Materiaal</b>: afbeeldingen uit oude boeken, kranten en tijdschriften.
                    <br><br>
                    Als je het <b>materiaal</b> verandert naar een simpele tekening, is het kunstwerk een stuk minder uniek. De kern van dit kunstwerk is dat het elke dag ambachtelijk wordt gemaakt en dat het de originele gedachten en gevoelens van de kunstenaar weergeeft. Als de kunstenaar elke dag een tekening zou maken, zou de liefde minder goed benadrukt worden.
                </p>
            </div>
        </div>
    </div>
    <div class="paginablok lesvbverg">
        <span class="blokheader">Verschillen en overeenkomsten</span>
        <div class="vergelijkinggraphic">
            <div class="verggraph links">
                <img src="/static/afbs/Haring-danson.png" alt="Untitled (Heart of heads) (1989) - Keith Haring">
            </div>
            <i class="fa-solid fa-arrows-left-right"></i>
            <div class="verggraph rechts">
                <img src="/static/afbs/voorh.jpg" alt="Voor H. (2009 - 2018) - Gijs Assman">
            </div>
        </div>
        <div class="verschillenovereenkomsten">
            <div class="verg links">
                <span class="vergelijkingsonderdeeltitel">Verschillen</span>
                <p class="vergelijkingsonderdeeltekst">
                    <i>Voor H.</i> ziet er veel drukker uit dan <i>Head of Harts</i>.
                    Dit komt door het verschil in het aantal kleuren, en het aantal afgebeelde objecten.
                    <br>
                    De boodschap van <i>Head of Harts</i> is duidelijker te herkennen dan de boodschap van <i>Voor H.</i>, want de mensfiguren en het hartje zijn makkelijker te herkennen dan de grote collage.
                </p>
            </div>
            <div class="verg rechts">
                <span class="vergelijkingsonderdeeltitel">Overeenkomsten</span>
                <p class="vergelijkingsonderdeeltekst">
                    Beide werken zijn 2 dimensionaal en niet groter dan een A4'tje.
                    <br>
                    Beide kunstwerken maken gebruik van een hart om de boodschap (liefde) duidelijk te maken.
                    <br>
                    Beide werken zijn vrij abstract. Ze zijn niet bedoeld om een echte situatie weer te geven.
                </p>
            </div>
        </div>
    </div>
    <div class="paginablok eigenwerk">
        <div id="eigenwerkgrafischlinks">
            <span class="blokheader">Eigen werk</span>
            Tijdens de introductieles grafisch/illustratie heb ik zelf een werk gemaakt geïnspireerd op het werk van Keith Haring.
            Het werk moest een sociaal probleem laten zien. Ik heb gekozen voor het thema inkomensongelijkheid.
            <br>
            Voor mijn tekening heb ik gebruik gemaakt van een zwarte marker, kleurpotloden en viltstiften.
        </div>
        <div id="eigenwerkgrafischrechts" class="kunstwerkmetcredits">
            <img src="/static/afbs/introlesgrafischprachtigetekening.png" alt="Minder sociale ongelijkheid (2024) - Gijs ten Berg">
            <span class="kunstwerknaam">Minder sociale ongelijkheid (2024)</span>
            <span class="kunstenaarnaam">Gijs ten Berg</span>
        </div>
    </div>


    <!-- /Grafisch -->

    <div class="paginablok verschilextra">
        <span class="blokheader">Verschillen tussen 2 andere kunstwerken</span>
        <div class="vergelijkinggraphic extra">
            <div class="verggraph links">
                <img src="/static/afbs/LoversIIMargritte.jpg" alt="The Lovers II (1928) - Rene Magritte">
                <span class="vergelijkkunstwerk">The Lovers II (1928)</span>
                <span class="vergelijkkunstenaar">Rene Magritte</span>
            </div>
            <i class="fa-solid fa-arrows-left-right"></i>
            <div class="verggraph rechts">
                <img src="/static/afbs/banksy.jpeg" alt="Valentine's Banksy (2020) - Banksy">
                <span class="vergelijkkunstwerk">Valentine's Banksy (2020)</span>
                <span class="vergelijkkunstenaar">Banksy</span>
            </div>
        </div>
        <div class="vergelijkingsonderdeeltekstcontainer">
            <span class="vergelijkingsonderdeeltitel">Verschillen</span>
            <p class="vergelijkingsonderdeeltekst">
                In <i>The Lovers II</i> zie je duidelijk dat 2 mensen worden weerhouden van hun liefde, terwijl je bij <i>Valentine's Banksy</i> slechts 1 persoon ziet.
                <br>
                In <i>The Lovers II</i> wordt de boodschap geuit door een kus, bij <i>Valentine's Banksy</i> wordt de boodschap duidelijk gemaakt door rode bloemblaadjes.
                <br>
                Het materiaal van deze kunstwerken is verschillend. <i>The Lovers II</i> is een schilderij op doek, en <i>Valentine's Banksy</i> is een muurschildering.
                <br>
                Deze verschillen beïnvloeden de boodschap vrij duidelijk. In <i>The Lovers II</i> zie je door de 2 personen duidelijk dat deze liefde niet geuit wordt (dus mogelijk niet mag bestaan).
                In <i>Valentine's Banksy</i> is de boodschap ambigu: het thema en de boodschap "liefde" kan niet veel nauwkeuriger gemaakt worden.
                <br>
                <i>The Lovers II</i> bevat ook meer verschillende objecten en kenmerken dan <i>Valentine's Banksy</i>.
                Je zou dus (in deze context) kunnen zeggen dat de hoeveelheid objecten en kenmerken een verband heeft met de duidelijkheid van de boodschap.
            </p>
        </div>
    </div>


    <div class="paginablok vergelijkinggroot">
        <div id="vergelijkinggrootlinks">
            <span class="blokheader">Verschillen tussen de 2 kunstdisciplines</span>
            <p id="heelveelvergelijkingstekst">
                De kunstdisciplines muziek en grafisch/illustratie zijn uiteraard erg verschillend.
                Muziek gaat over het maken van klanken en geluid.
                Grafische kunst en illustraties gaan over kunst in de vorm van een afbeelding.
                <br><br>
                Een opvallende overeenkomst is het overbrengen van emotie en het laten nadenken over de inhoud.
                Veel muziekstukken en tekeningen laten mensen nadenken over hun leven en de wereld
                <br><br>
                Een opvallend verschil is de manier waarop mensen deze emoties interpreteren.
                Bij een muziekstuk zijn er vaak meer mogelijkheden om emoties en boodschappen over te brengen, want een afbeelding is (vaak) statischer dan een nummer, omdat een nummer langer de tijd heeft om de boodschap over te brengen.
                Een voorbeeld van deze overeenkomsten is te vinden als je het schilderij <i>Convergence</i> van Jackson Pollock vergelijkt met het nummer <i>Free Improvisation #3</i> van Cecil Taylor.
                Beide werken zijn chaotisch en abstract (vorm) en de emoties van de kunstenaar zijn belangrijke elementen (inhoud).
                <i>Convergence</i> (gemaakt tijdens de Koude Oorlog) was een "belichaming" van de vrijheid van meningsuiting en de vrijheid van expressie.
                De documentaire <i>Imagine the Sound</i> gaat eigenlijk ook over de vrijheid van expressie, want het genre free jazz was destijds vrij controversieel.
                De emoties van de kunstenaar en de achterliggende boodschap van het muzieknummer komen pas naar voren als men nadenkt over de boodschap van het kunstwerk.
                <br><br>
                Een ander voorbeeld die de overeenkomsten benadrukt is het nummer <i>4'33''</i> van John Cage en het schilderij <i>White Painting [three panel]</i> van Robert Rauschenberg. Beide kunstwerken hebben geen duidelijke boodschap, maar zetten de toeschouwer/luisteraar wel aan het denken.
                <br><br>
                Als je kijkt naar de vorm, inhoud en materiaal van deze 2 werken, zie je de overeenkomsten vrij duidelijk: beide werken hebben een erg simpele verschijning, ze hebben geen duidelijke boodschap en ze zijn eenvoudig te maken.
                Bij deze werken is het nog duidelijker dat de toeschouwer zelf moet nadenken over de boodschap en de inhoud, want de kunstwerken hebben geen zichtbare inhoud.
                <br><br>
                Met deze vier werken kun je ook de verschillen tussen de disciplines duidelijk maken.
                Als je bijvoorbeeld <i>Convergence</i> vergelijkt met <i>4'33''</i> valt het op dat de emotie en boodschap van <i>Convergence</i> veel duidelijker naar voren komt dan in 4'33'. Ook zijn er meer details te ontdekken in <i>Convergence</i>.
                <br><br>
                Als je <i>White Painting [three panel]</i> vergelijkt met <i>Free Improvisation #3</i> valt op dat de rol van de artiest erg verschilt: bij <i>Free Improvisation #3</i> gaat het om een uniek werk met veel emotie, terwijl eigenlijk iedereen 3 canvassen zou kunnen beschilderen met witte verf.
                <br><br>
                Het verschil in interpretatie van de emotie komt goed naar voren als je <i>Convergence</i> vergelijkt met <i>White Painting [three panel]</i>: de toeschouwer hoeft minder moeite te doen om de boodschap van <i>Convergence</i> te begrijpen, terwijl de toeschouwer de boodschap van <i>White Painting [three panel]</i> zelf moet verzinnen. Dit verschil heeft een ander effect voor beide werken: bij <i>Convergence</i> kan de overgebrachte boodschap en emotie erg sterk en inspirerend zijn, maar bij <i>White Painting [three panel]</i> wordt de creativiteit van de toeschouwer "aangezet".
                Dezelfde observatie geldt voor de vergelijking tussen <i>4'33''</i> en <i>Free Improvisation #3</i>.
                <br><br>
                Kortom: een opvallende overeenkomst tussen werken uit de 2 kunstdisciplines is het laten nadenken van de toeschouwer en het uitbeelden van emoties. Een opvallend verschil is de manier waarop deze emoties en de boodschap wordt overgebracht: bij muziek is dit vaak dynamischer (want een muziekstuk duurt langer en kan dus meer overbrengen) dan bij grafische werken.
            </p>
        </div>

        <div id="vergelijkinggrootrechts">
            <div class="voorbeeldkunstwerkinlijst">
                <div class="kunstwerkmetcredits">
                    <img src="/static/afbs/convergence.jpg" alt="Convergence (1952) - Jackson Pollock">
                    <span class="kunstwerknaam">Convergence (1952)</span>
                    <span class="kunstenaarnaam">Jackson Pollock</span>
                </div>
                <p class="vbkwinlijst-vim">
                    <b>Vorm</b>: Een chaotisch en abstract schilderij met veel kleuren, lijnen en vormen door elkaar heen. Het schilderij is gemaakt door verf op het doek te gieten en te gooien.
                    <br>
                    <b>Inhoud</b>: De emoties van Pollock komen (onbedoeld) terug in de kleuren en vormen. Een andere belangrijke boodschap is de vrijheid van meningsuiting en de vrijheid van expressie.
                    <br>
                    <b>Materiaal</b>: Olieverf op doek (van 2,37 meter bij 3,9 meter!)
                </p>
            </div>
            <div class="voorbeeldkunstwerkinlijst">
                <div class="kunstwerkmetcredits">
                    <audio controls src="/static/muziek/Improv.mp3"></audio>
                    <span class="kunstwerknaam">Free Improvisation #3</span>
                    <span class="kunstenaarnaam">Cecil Taylor</span>
                </div>
                <p class="vbkwinlijst-vim">
                    <b>Vorm</b>: Een chaotisch muziekstuk waarvan de klanken niet van tevoren zijn bepaald.
                    <br>
                    <b>Inhoud</b>: De emoties en gevoelens van Taylor komen duidelijk terug in de klanken en de manier waarop hij de piano bespeelt.
                    Het nummer komt uit de documentaire <i>Imagine the Sound</i> over <i>free jazz</i>.
                    <br>
                    <b>Materiaal</b>: Piano
                </p>
            </div>
            <div class="voorbeeldkunstwerkinlijst">
                <div class="kunstwerkmetcredits">
                    <img src="/static/afbs/white3panels.jpg" alt="White Painting [three panel] (1951) - Robert Rauschenberg">
                    <span class="kunstwerknaam">White Painting [three panel] (1951)</span>
                    <span class="kunstenaarnaam">Robert Rauschenberg</span>
                </div>
                <p class="vbkwinlijst-vim">
                    <b>Vorm</b>: Een schilderij bestaande uit 3 witte panelen.
                    <br>
                    <b>Inhoud</b>: Geen duidelijke boodschap.
                    Volgens Rauschenberg is het een "klok": "If one were sensitive enough that you could read it, that you would know how many people were in the room, what time it was, and what the weather was like outside."
                    De toeschouwer en de omgeving "maken" dus de boodschap, emotie en inhoud.
                    <br>
                    <b>Materiaal</b>: 3 doeken beschilderd met acrylverf
                </p>
            </div>
            <div class="voorbeeldkunstwerkinlijst">
                <div class="kunstwerkmetcredits">
                    <audio controls src="/static/muziek/433.mp3"></audio>
                    <span class="kunstwerknaam">4'33''</span>
                    <span class="kunstenaarnaam">John Cage</span>
                </div>
                <p class="vbkwinlijst-vim">
                    <b>Vorm</b>: Een muziekstuk zonder geproduceerd geluid.
                    <br>
                    <b>Inhoud</b>: Geen duidelijke boodschap.
                    Volgens psycholoog Paul Bloom zijn mensen gemotiveerd om naar <i>4'33''</i> te luisteren, terwijl het feitelijk hetzelfde is als de stilte in de bibliotheek.
                    Dit kan er dus op duiden dat dit muziekstuk wel mensen inspireert en emoties kan oproepen.
                    <br>
                    <b>Materiaal</b>: Alle instrumenten. Volgens Cage: "(...) the work may be performed by any instrumentalist or combination of instrumentalists (...)".
                </p>
            </div>
        </div>

    </div>
{% endblock %}
