{% extends "ckvbasis.html" %}

{% set active_page = "over_mij" %}

{% block title %}Over mij{% endblock %}

{% block content %}
<div class="paginablok paginatitel">
    Over mij
</div>
<div class="paginablok tweekolommen">
    <div class="tweekolommenlinks">
        Ik ben Gijs, ik ben 15 jaar oud en ik zit dit schooljaar in klas 4A2.
        Ik kom uit Schiedam. Ik ben erg geïnteresseerd in de natuurwetenschappen.
        Ook informatica en programmeren (zoals het bouwen van deze site) vind ik erg leuk.
        <br><br>
        Op deze website kunt u informatie vinden over alles wat ik dit jaar doe bij CKV.
        U vindt op de pagina's van de blokken alle verslagen, zelfgemaakte werken enz. van het desbetreffende blok.
        Op de pagina van de introductielessen vindt u het onderzoeksverslag van deze introductielessen.
        Op de pagina Eigen Initiatieven vindt u alle eigen initiatieven van dit schooljaar.
    </div>
    <div class="tweekolommenrechts">
        Kunst en cultuur spelen eerlijk gezegd momenteel geen grote rol in mijn leven.
        Er zijn zeker wel kunstwerken die die ik mooi vind of waardeer.
        Ik voel dus niet de drang om me er diepgaand in te verdiepen.
        <br>
        Hetzelfde geldt eigenlijk voor cultuur. Cultuur vormt onze maatschappij, en ik vind het heel belangrijk, maar ik voel me er op dit moment niet erg verboden mee.
        <br><br>
        Dit heeft misschien te maken met het feit dat ik niet vaak de tijd neem om actief kunst en cultuur te beleven.
        Ik ben echter wel benieuwd hoe het vak CKV mijn mening en visie op dit gebied zal veranderen.
        <br><br>
        Mijn huidige (begin van het schooljaar) interesse op het gebied van kunst is grafische en beeldende kunst.
        Ik ben minder geïnteresseerd in theater en dans.
        <br><br>
        Een voorbeeld hiervan zijn de introductielessen. Tijdens de tweede introductieles kwam ik in aanraking met de kunst van Keith Haring.
        Ik vind zijn stijl erg mooi en inspirerend. Ik hoop dat ik de rest van dit jaar meer kunst kan ontdekken en waarderen.
    </div>
</div>
{% endblock %}