<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ errornum }} - {{ e }}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/error.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}" />
        <style>
            body {
                background-image: url("{{ imgurl }}");
                color: {{ txtcolor }};
            }
        </style>
    </head>
    <body>
        <div id="txtbox">
            <span id="errornum">{{ errornum }}</span>
            <div id="extra-info">
                <span id="message1">{{ message1 }}</span>
                <span id="message2">{{ message2 }}</span>
                <small>{{ e }}</small>
            </div>
            <a href="/">Naar homepagina</a>
        </div>
        <div id="credits">
            <span id="artwork">{{ artwork }}</span>
            <span id="artist">{{ artist }}</span>
        </div>
    </body>
</html>
