{% extends "base.html" %}

{% block title %}Blok 4{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/period_4.css') }}">
{% endblock %}

{% block content %}
    <div class="pageblock pagetitle-big pagetitle-full bg-page">
        <h1>Vechtkunst</h1>
        <h2>Blok 4 - Dans</h2>
        <div class="pagetitle-credits">
            <span class="pagetitle-credits-artwork">Sutra (2008)</span>
            <span class="pagetitle-credits-artist">O.a. Sidi Larbi Cherkaoui</span>
        </div>
    </div>

    <div class="pageblock general-information">
        <div class="geninfo-imgcredits">
            <span class="geninfo-artwork">4 (2013)</span>
            <span class="geninfo-artist">TAO Dance Theater</span>
        </div>
        <div class="general-information-text">
            <h1>Algemene informatie</h1>
            <p>
                Dit blok was ik ingedeeld bij de discipline <strong>dans</strong> met als thema <strong>vechtkunst</strong>. Dit blok onderzochten we hoe vechtkunst en dans gecombineerd kunnen worden.<br>
                Dit blok kreeg ik les van <strong>mw. te Loo</strong>.<br>
                De eerste les en een deel van de tweede les van dit blok hebben wij de voorstelling Sutra in de les bekeken. De derde en vierde les ging niet door, waardoor wij op dinsdag 15 april een workshop hebben gedaan.
            </p>
        </div>
    </div>
{% endblock %}
