@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
    --black: #011627;
    --white: #e9f0f3;
    --yellow: #ffca3a;
    --red: #ff4a1c;
    --blue: #197bbd;
    --green: #0b9a5d;

    --dark-red: #b52500;
    --dark-green: #024330;

    --white-transparent: #e9f0f33d;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Sora, sans-serif;
    color: var(--black);
    background: var(--white);
    font-size: clamp(0.85em, 2.5vw, 1.05em);
}

a {
    color: var(--blue);
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 100%;
    background: var(--blue);
    color: var(--white);
    z-index: 1000;
    top: 0;
    left: 0;
    border-right: 1px solid var(--white);
    gap: 2em;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    position: relative;
    z-index: 10;
}

.menu-item {
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 100;
    flex-grow: 1;
    max-height: 60px;
}

.menu-item:hover,
.menu-item-active {
    background: #15679e;
}

.menu-item-title {
    display: none;
    font-size: 0.65em;
    position: absolute;
    left: 100%;
    width: max-content;
    height: 100%;
    background: #15679e;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 0 15px 15px 0;
    font-weight: 600;
    z-index: 10;
}

.menu-item:hover .menu-item-title {
    display: flex;
}

header div {
    padding: 5px;
    text-align: center;
}

header div h1 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 0.5em;
}

header div h2 {
    font-size: 0.85em;
    font-weight: 500;
}

#scrollable {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    background: var(--green);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    font-size: 0.8em;
    color: var(--white);
}

footer a {
    color: inherit;
}

#footer-right h2,
#footer-right h3 {
    font-size: 1.25em;
}

.pagetitle-small {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
}

.pageblock {
    padding: 50px 175px;
}

.pageblock.columns {
    padding: 0;
    height: unset !important;
}

.pageblock.columns > * {
    padding: 50px 25px;
}

.pageblock.columns > *:first-child {
    padding-left: 175px;
}

.pageblock.columns > *:last-child {
    padding-right: 175px;
}

.columns {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.flex-gap {
    gap: 30px;
}

.columns > * {
    width: min-content;
    flex-grow: 1;
    min-width: 200px;
}

.rows {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.bg-white {
    background: var(--white);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-blue {
    background: var(--blue);
}

.bg-red {
    background: var(--red);
}

.bg-dark-red {
    background: var(--dark-red);
    color: var(--white);
}

.bg-green {
    background: var(--green);
}

.bg-dark-green {
    background: var(--dark-green);
    color: var(--white);
}

.bg-fancy {
    background-size: cover;
    background-position: center;
}

.seperator {
    padding: 0;
    height: 5em;
}

.fancy1 {
    background-image: url("/static/imgs/abstract.jpg");
}

.fancy2 {
    background-image: url("/static/imgs/abstract_alt.jpg");
    background-position: top;
}

.bg-page {
    background-size: cover;
    background-position: center;
}

.center {
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.center p {
    text-align: left;
    width: fit-content;
    margin: auto;
}

p.center {
    text-align: center;
}

.pagetitle-big h1 {
    font-size: 4.5em;
    font-weight: 900;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.pagetitle-big h2 {
    font-size: 2.5em;
    font-weight: 500;
}

.bcbg-out {
    width: 100%;
    padding: 50px;
}

.bcbg-in {
    max-width: 1250px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}

.button {
    padding: 10px 15px !important;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    margin-block: .5em !important;
}

.button-standard {
    background: var(--blue);
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

.artwork-basic {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    align-items: center;
    text-align: center;
    flex-grow: 0;
}

.artwork-basic img,
.artwork-basic audio {
    margin-bottom: 10px;
    max-width: 400px;
}

.artwork-basic .artbasic-artwork {
    font-weight: 400;
}

.artwork-basic .artbasic-artist {
    font-weight: 900;
}

.pageblock > h1 {
    margin-bottom: 15px;
}

.pageblock > h1:only-child {
    margin-bottom: 0;
}

.titleblock > h1 {
    margin: auto;
    width: fit-content;
    font-size: 2.75em;
}

.titleblock.bg-fancy > h1 {
    color: var(--white);
}

.titleblock.bg-fancy {
    padding: 175px 10px;
}

.titleblock.bg-fancy > h1 > i {
    margin-inline-start: 0.25em;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

.margin-bottom {
    margin-bottom: 0.6em;
}

.bigart-artwork {
    font-weight: 400;
}

.bigart-artist {
    font-weight: 900;
}

audio {
    background-color: black;
    border-radius: 10px;
    height: fit-content;
}

ul,
ol {
    padding-inline-start: 1em !important;
}

.pagetitle-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 65vh;
}

.pagetitle-big.pagetitle-full {
    height: 100vh;
}

.pagetitle-big > * {
    padding: 0;
}

.pagetitle-credits,
.geninfo-imgcredits {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.pagetitle-credits-artwork,
.geninfo-artwork,
.artobject-artwork {
    font-weight: 400;
}

.pagetitle-credits-artist,
.geninfo-artist,
.artobject-artist {
    font-weight: 900;
}

.pageblock > h1,
.pageblock > h2,
.pageblock > h3,
.blockheader {
    text-align: center;
    margin-bottom: 0.75em;
}

.pagetitle-video {
    position: relative;
    overflow: hidden;
}

.pagetitle-video video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.general-information {
    padding: 175px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.general-information-text {
    background: var(--white);
    padding: 25px;
    border-radius: 20px;
    max-width: 750px;
}

.textblock * {
    margin: revert;
    padding: revert;
}

.textblock section {
    margin-block: 2em;
}

.textblock section:first-child {
    margin-block-start: 0;
}

.textblock section:last-child {
    margin-block-end: 0;
}

.textblock h1 {
    margin-block: 0 0.5em;
}

.textblock h2,
.textblock h3 {
    margin-block: 1em 0;
}

.textblock p {
    margin-block: 0.75em;
}

.img-collage {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.img-collage img {
    flex-grow: 1;
    width: calc(33% - 1em);
    object-fit: cover;
    max-height: 500px;
}

.img-collage img.img-big {
    max-height: 750px;
}

.img-collage img.img-vert {
    max-height: unset;
    max-width: 600px;
}

.img-very-big {
    min-width: 100%;
    max-width: 100% !important;
}

.artobj-info {
    display: flex;
    flex-direction: column;
}

.artobject-artist,
.artobject-artwork {
    font-size: 1.2em;
}

.text-indented {
    margin-inline-start: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    * {
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    header {
        height: 75px;
        width: 100%;
        padding: 0 5px;
        border-left: none;
        border-bottom: 1px solid var(--white);
    }

    nav {
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }

    .menu-item {
        font-size: 1.35em;
        aspect-ratio: unset;
        flex-grow: 1;
        width: unset;
        height: 100%;
        border-radius: 15px 15px 0 0;
        z-index: unset;
        border-radius: 0;
        padding: unset;
    }

    .menu-item i {
        z-index: 0;
        position: relative;
    }

    .menu-item:hover i {
        z-index: 100000000;
    }

    .menu-item-title {
        left: 50%;
        top: 0;
        border-radius: 0 0 15px 15px;
        height: fit-content;
        padding: 15px 7.5px;
        transform: translate(-50%, 0);
        padding-top: 90px;
        /* 75px + 15px padding */
        z-index: 10000000;
        max-width: 225%;
        text-align: center;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        min-width: 100%;
    }

    #scrollable {
        margin-left: 0;
        margin-top: 75px;
    }

    header div {
        display: none;
    }

    .bcbg-out,
    .bcbg-in,
    .general-information-text {
        padding: 20px;
    }

    .pageblock {
        padding: 20px;
    }

    .pageblock.columns > *:first-child {
        padding: 25px;
    }

    .pageblock.columns > *:last-child {
        padding: 25px;
    }

    .columns > * {
        min-width: 50%;
    }

    .general-information {
        padding: 25px 25px 75px 25px;
    }
}
