@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --zwart: #011627;
    --wit: #d5e0eb;
    --geel: #ffca3a;
    --rood: #ff4a1c;
    --blauw: #197bbd;
    --groen: #04a777;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 0;
    height: 100vh;
    font-family: Sora, sans-serif;
    color: var(--zwart);
}

h1, h2, p {
    margin: 0;
}



/* Header */

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding: 2% 2% 2% 5%;
    background: var(--blauw);
    color: var(--wit);
    align-content: center;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: clamp(5px, 0.5vw, 15px);
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: relative;

    color: var(--wit);

    text-decoration: none;
}

.menuitemtext {
    padding: clamp(10px, 2vw, 20px) clamp(5px, 1vw, 10px);
    position: relative;
    z-index: 100;
    font-weight: 700;
    font-size: 1.1em;
    transition: 300ms all ease-in-out;
}

.menuitemslide {
    z-index: 50;
    position: absolute;
    height: 0%;
    width: 100%;

    border-radius: 0.5em;

    background: var(--blauw);

    transition: 300ms all ease-in-out;
}

.menu-item:hover > .menuitemslide, .menu-item.active > .menuitemslide {
    height: 100%;

    background: var(--wit);
}

.menu-item:hover > .menuitemtext, .menu-item.active > .menuitemtext {
    color: var(--blauw);
}



/* Content */

#content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 2% 5%;
    background: var(--blauw);
    color: var(--wit);
    justify-content: space-between;
}


/* Veelgebruikt */
.paginablok {
    margin: 0;
    padding: 2%;
}

.kleurvak-buiten {
    padding: 5%;
}

.kleurvak-buiten.geel {
    background: var(--geel);
}

.kleurvak-buiten.groen {
    background: var(--groen);
}

.kleurvak-binnen {
    background: var(--wit);
    padding: 2%;
    border-radius: 1em;
    max-width: 75%;
    margin: auto;
}

.knop {
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    font-weight: 700;
    transition: all 300ms ease;
}

.knop.wit {
    background: var(--wit);
    color: var(--zwart);
}

.knop.wit:hover {
    background: var(--zwart);
    color: var(--wit);
}

.knop.blauw {
    background: var(--blauw);
    color: var(--wit);
}

.knop.blauw:hover {
    background: var(--wit);
    color: var(--blauw);
}

.paginatitel {
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
}

.tweekolommen {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.tweekolommenlinks {
    max-width: 40%;
    background: var(--geel);
    display: flex;
    padding: 2%;
    align-items: center;
    font-weight: 600;
}

.tweekolommenrechts {
    padding: 2%;
}

.paginablok.tweekolommen {
    padding: 0;
}