/* Dingen die op veel blokpagina's worden gebruikt! */



.megapaginatitel {
    padding: 0;
    position: relative;
    display: flex;
}

.megatitel-titeltekst {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wit);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;
}

.megatitel-activiteit {
    font-size: 5em;
    font-weight: 900;
}

.megatitel-blokendisci {
    font-size: 2.5em;
    font-weight: 500;
}

.megatitel-credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--wit);
    display: flex;
    flex-direction: column;
}

.megatitelkunstwerk {
    font-size: 1.3em;
}

.megatitelkunstenaar {
    font-size: 1.3em;
    font-weight: 700;
}


.alginfoblok {
    background: var(--geel);
    padding: 0;
    position: relative;
}

.alginfo-imgbackground {
    width: 60%;
    height: 60%;
    background-size: cover;
    position: absolute;
    top: 10vh;
    left: 0;
    border-radius: 0 20px 20px 0;
}

.alginfo-textcontainer {
    display: flex;
    position: relative;
    padding: 20vh 5% 5% 5%;
    align-items: flex-end;
    gap: 5%;
    justify-content: space-around;
}

.alginfo-alginfobox {
    padding: 5%;
    background: var(--wit);
    border-radius: 20px;
    max-width: 55%;
}

.alginfo-imgcredits {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.alginfo-kunstenaar {
    font-weight: 800;
}

.verslagtekst-eigenwerk {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.kunstwerkmetcredits.eigenwerk img {
    width: 100%;
}

.kunstwerkmetcredits.eigenwerk {
    width: 50%;
}

.verslagtekst-eigenwerklinks {
    width: 50%;
}

.kunstwerktabel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.kunstwerktabelkunstwerkfotos img {
    width: 20vh;
    object-fit: cover;
    aspect-ratio: 3/5;
    flex-grow: 1;
}

.kunstwerktabelkunstwerk {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.kunstwerktabelkunstwerkfotos {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    max-width: 60%;
}

.kunstwtab-kunstwerk, .collageviminfo-kunstwerk {
    font-size: 1.25em;
}

.kunstwtab-kunstenaar, .collageviminfo-kunstenaar {
    font-size: 1.25em;
    font-weight: 800;
}

.kunstwerktabelkunstwerktekst p {
    margin-top: 15px;
}

.kunstwerktabelkunstwerktekst {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.verslagtekst-afbeeldingenalg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.verslagtekst-afbeeldingenalg img {
    height: 25em;
    object-fit: cover;
}

.verslagtekst-afbeeldingenalg.collage img {
    flex-grow: 1;
}


.kunstwerkmetcredits.eindwerk {
    width: unset !important;
}

.verslagtekst {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.vrslgtxtafb-rechthoek {
    aspect-ratio: 2/3;
}


.collageviminfo p {
    margin-top: 5px;
}


.collageviminfo {
    display: flex;
    flex-direction: column;
}

.collectie-collages-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}






/* Nog niet begonnen blokpags */


.bloknietbegonnen {
    flex-grow: 1;
    background: var(--geel);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.bloknietbegonnenblok {
    font-size: 6em;
}

.bloknietbegonnennumsdiv span {
    transition: all 250ms ease;
}

.bloknietbegonnentekst {
    font-size: 1.5em;
}

.bloknietbegonnennumsdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2px;
}



.numrij-12 {
    font-size: 0.4em;
    font-weight: 100;
}

.numrij-11 {
    font-size: 0.6em;
    font-weight: 100;
}

.numrij-10 {
    font-size: 0.8em;
    font-weight: 100;
}

.numrij-9 {
    font-size: 1.1em;
    font-weight: 100;
}
.numrij-8 {
    font-size: 1.4em;
    font-weight: 100;
}

.numrij-7 {
    font-size: 1.9em;
    font-weight: 200;
}

.numrij-6 {
    font-size: 2.5em;
    font-weight: 300;
}

.numrij-5 {
    font-size: 3.3em;
    font-weight: 400;
}

.numrij-4 {
    font-size: 4.4em;
    font-weight: 500;
}

.numrij-3 {
    font-size: 5.9em;
    font-weight: 600;
}

.numrij-2 {
    font-size: 7.9em;
    font-weight: 700;
}

.numrij-1 {
    font-size: 10.5em;
    font-weight: 800;
}

.numrij-0 {
    font-size: 16em;
    font-weight: 900;
}


.numrij-12:hover {
    font-size: 0.6em;
}

.numrij-11:hover {
    font-size: 0.8em;
}

.numrij-10:hover {
    font-size: 1em;
}

.numrij-9:hover {
    font-size: 1.4em;
}

.numrij-8:hover {
    font-size: 1.8em;
}

.numrij-7:hover {
    font-size: 2.4em;
}

.numrij-6:hover {
    font-size: 3.2em;
}

.numrij-5:hover {
    font-size: 4.3em;
}

.numrij-4:hover {
    font-size: 5.7em;
}

.numrij-3:hover {
    font-size: 7.6em;
}

.numrij-2:hover {
    font-size: 10.1em;
}

.numrij-1:hover {
    font-size: 13.5em;
}

.numrij-0:hover {
    font-size: 18em;
}