@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --zwart: #011627;
    --wit: #e9f0f3;
    --geel: #ffca3a;
    --rood: #ff4a1c;
    --blauw: #197bbd;
    --groen: #04a777;
    --dblauw: #28589A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 0;
    height: 100vh;
    font-family: Sora, sans-serif;
    color: var(--zwart);
}

h1, h2, p {
    margin: 0;
}



/* Header */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blauw);
    color: var(--wit);
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-right: 2px var(--wit) solid;
    box-sizing: border-box;
    padding: 1%;
    height: 100%;
    gap: 3%;
}

#headerboven {
    font-size: 1.3em;
    font-weight: 900;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5%;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.menu-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    color: var(--wit);
    text-decoration: none;
    flex-direction: column;
    flex-grow: 1;
}

.menuitemtext {
    padding: 10px;
    position: relative;
    z-index: 100;
    font-weight: 700;
    font-size: 1.2em;
    transition: 300ms all ease-in-out;
    display: flex;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}

.menuitemtext svg {
    height: 1em;
    fill: var(--wit);
    transition: 300ms all ease-in-out;
}

.menuitemslide {
    z-index: 50;
    position: absolute;
    height: 100%;
    width: 0%;

    border-radius: 0.5em;

    background: var(--blauw);

    transition: 300ms all ease-in-out;
}

.menu-item:hover > .menuitemslide, .menu-item.active > .menuitemslide {
    width: 100%;
    background: var(--wit);
}

.menu-item:hover > .menuitemtext, .menu-item.active > .menuitemtext {
    color: var(--blauw);
}

.menu-item:hover > .menuitemtext svg, .menu-item.active > .menuitemtext svg {
    fill: var(--blauw);

}



/* Content */

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 17vw;
    transition: margin 250ms ease-in-out;
}



/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 2% 5%;
    background: var(--groen);
    color: var(--wit);
    justify-content: space-between;
    margin-left: 15vw;
    border-top: 2px var(--wit) solid;
}


/* Veelgebruikt */

.paginablok {
    margin: 0;
    padding: 2%;
    background: var(--wit);
}

.kleurvak-buiten {
    padding: 5%;
    text-align: center;
}

.kleurvak-buiten.geel {
    background: var(--geel);
}

.kleurvak-buiten.groen {
    background: var(--groen);
}

.kleurvak-buiten.rood {
    background: var(--rood);
}

.kleurvak-buiten.blauw {
    background: var(--blauw);
}

.kleurvak-binnen {
    background: var(--wit);
    padding: 2%;
    border-radius: 1em;
    max-width: 75%;
    margin: auto;
    font-size: 1.2em;
}

.paginablok.deeltitel {
    font-weight: 900;
}

.deeltitel .kleurvak-binnen h1 {
    font-size: 2.5em;
}

.knop {
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    font-weight: 700;
    transition: all 300ms ease;
    border: 3px solid;
}

.knop.wit {
    background: var(--wit);
    color: var(--zwart);
    border-color: var(--wit);
}

.knop.wit:hover {
    background: var(--zwart);
    color: var(--wit);
}

.knop.blauw {
    background: var(--blauw);
    color: var(--wit);
    border-color: var(--blauw);
}

.knop.blauw:hover {
    background: var(--wit);
    color: var(--blauw);
}

.paginatitel {
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
}

.tweekolommen {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.2em;
}

.tweekolommenlinks {
    max-width: 40%;
    background: var(--geel);
    display: flex;
    padding: 2%;
    align-items: center;
    font-weight: 600;
}

.tweekolommenrechts {
    padding: 2%;
    display: flex;
    align-items: center;
}

.paginablok.tweekolommen {
    padding: 0;
}

#footerrechts a {
    color: var(--wit);
}

.kunstwerkmetcredits img {
    object-fit: cover;
    margin-bottom: 10px;
}

.kunstwerkmetcredits {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

.kunstenaarnaam {
    font-weight: 700;
}








@media screen and (max-width: 750px), (max-height: 550px) {
    #header {
        flex-direction: row;
        align-content: center;
        position: fixed;
        top: 0;
        height: unset;
        width: 100%;
        border-right: none;
        border-bottom: 2px var(--wit) solid;
    }

    #menu {
        flex-direction: row;
    }

    #content {
        margin-left: 0;
        margin-top: 12.5vh;
    }

    #footer {
        margin-left: 0;
    }


    .menu-item {
        flex-direction: row;
    }


    .menuitemslide {
        width: 100%;
        height: 0%;
    }

    .menu-item:hover > .menuitemslide, .menu-item.active > .menuitemslide {
        height: 100%;
    }

}