#megapaginatitelBlok2 {
    background-image: url("/static/afbs/b2/mandolorianmettekst.jpg");
    height: 100vh;
    background-size: cover;
}

#alginfo-imgbackground-blok2 {
    background-image: url("/static/afbs/b2/dune.jpg");
}

.megatitel-activiteit {
    color: var(--zwart);
}

.megatitel-titeltekst {
    top: 65%;
    gap: 70px;
    display: none !important;
}


@media (max-width: 750px) {
    .megatitel-titeltekst {
        display: flex !important;
    }
    #megapaginatitelBlok2 {
        background-image: url("/static/afbs/b2/mandolorian.jpg");
    }
}


#infographic {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: var(--zwart);
    overflow: hidden;
}


#gallery {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.tile:hover {
    transform: scale(1.05);
}

#tile1 {
    background-color: var(--groen);
    left: 5%;
    top: 7%;
}

#tile2 {
    background-color: var(--rood);
    left: 2%;
    top: 26%;
}

#tile3 {
    background-color: var(--rood);
    left: 12%;
    top: 47%;
}

#tile4 {
    background-color: var(--rood);
    left: 25%;
    top: 28%;
}

#tile5 {
    background-color: var(--rood);
    left: 28%;
    top: 51%;
}

#tile6 {
    background-color: var(--blauw);
    max-width: 35%;
    left: 6%;
    top: 70%;
}

#tile7 {
    background-color: var(--geel);
    max-width: 45%;
    left: 52%;
    top: 20%;
    color: var(--zwart);
}

#tile8 {
    background-color: var(--blauw);
    max-width: 30%;
    left: 62%;
    top: 63%;
}

.popup {
    display: none;
}

.popup-content {
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    transition: opacity 800ms ease, visibility 800ms ease;
    position: absolute;
}

.popup-content.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 200ms;
}

.popup-content .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: var(--wit);
    font-size: 3em;
    cursor: pointer;
}

.popup-text {
    padding: 2%;
    font-size: 1.1em;
    color: var(--wit);
    margin-top: 50px;
    margin-bottom: 50px;
}

.tile {
    border-radius: 20px;
    position: absolute;
    transition: all 450ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    z-index: 0;
    padding: 25px;
    color: var(--wit);
}

.tile.fullscreen {
    z-index: 15;
}

.tile span {
    font-size: 2.5em;
    font-weight: 700;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
}

.tile.fullscreen span {
    opacity: 0;
    visibility: hidden;
}



#ver-uit-2b {
    z-index: 1000;
}

.popupinhoudcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.popupinhoud.afbeeldingen {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.popupinhoud.afbeeldingen img {
    max-height: 50vh;
    max-width: 50%;
    flex-grow: 1;
    object-fit: cover;
}

#popup-inhoud-tile2 .afbeeldingen img, #popup-inhoud-tile7 .afbeeldingen img {
    object-fit: contain;
    height: 100vh;
    max-height: unset;
    max-width: unset;
}

#popup-inhoud-tile2 .afbeeldingen {
    width: 50%;
}


#popup-inhoud-tile5 .afbeeldingen img {
    max-width: 30%;
}

#popup-inhoud-tile7 {
    flex-wrap: nowrap;
}

#linklijsthandig {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.linklijstitemhandig {
    background: var(--blauw);
    padding: 2% 7%;
    border-radius: 20px;
    color: var(--wit);
    font-size: 1.4em;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
    transition: all 300ms ease;
    border: 3px solid var(--blauw);
}

.linklijstitemhandig:hover {
    transform: scale(1.01);
    background: var(--wit);
    color: var(--blauw);
}

.linkoverzicht {
    z-index: 1000;
}


#popup-inhoud-tile2 {
    flex-wrap: nowrap;
}
