.bg-page {
    background-image: url("/static/imgs/p3/20_Days_in_Mariupol.jpg");
}

.pagetitle-credits, .geninfo-imgcredits {
    color: var(--white)
}

.general-information {
    background-image: url("/static/imgs/p3/No_Other_Land2.jpg");
}
