
.futureperiod {
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.futureperiodperiod {
    font-size: 6em;
}

.futureperiodnumsdiv span {
    transition: all 250ms ease;
    opacity: 0;
}

.futureperiodtext {
    font-size: 1.5em;
}

.futureperiodnumsdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2px;
}

.number-12 {
    font-size: 0.4em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1200ms;
}

.number-11 {
    font-size: 0.6em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1100ms;
}

.number-10 {
    font-size: 0.8em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1000ms;
}

.number-9 {
    font-size: 1.1em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 900ms;
}
.number-8 {
    font-size: 1.4em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 800ms;
}

.number-7 {
    font-size: 1.9em;
    font-weight: 200;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 700ms;
}

.number-6 {
    font-size: 2.5em;
    font-weight: 300;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 600ms;
}

.number-5 {
    font-size: 3.3em;
    font-weight: 400;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 500ms;
}

.number-4 {
    font-size: 4.4em;
    font-weight: 500;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 400ms;
}

.number-3 {
    font-size: 5.9em;
    font-weight: 600;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 300ms;
}

.number-2 {
    font-size: 7.9em;
    font-weight: 700;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 200ms;
}

.number-1 {
    font-size: 10.5em;
    font-weight: 800;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 100ms;
}

.number-0 {
    font-size: 17em;
    font-weight: 900;
    animation: fadeIn 150ms ease-in-out forwards;
}


.number-12:hover {
    font-size: 0.6em;
}

.number-11:hover {
    font-size: 0.8em;
}

.number-10:hover {
    font-size: 1.1em;
}

.number-9:hover {
    font-size: 1.4em;
}

.number-8:hover {
    font-size: 1.9em;
}

.number-7:hover {
    font-size: 2.5em;
}

.number-6:hover {
    font-size: 3.3em;
}

.number-5:hover {
    font-size: 4.4em;
}

.number-4:hover {
    font-size: 5.9em;
}

.number-3:hover {
    font-size: 7.9em;
}

.number-2:hover {
    font-size: 10.5em;
}

.number-1:hover {
    font-size: 14em;
}

.number-0:hover {
    font-size: 18.7em;
}
