.bg-page {
    background-image: url("/static/imgs/p2/the_mandalorian.jpg");
}

.pagetitle-big h2 {
    background: var(--white-transparent);
    padding: 5px !important;
    border-radius: 5px;
}

.pagetitle-credits {
    color: var(--white);
}

.general-information {
    background-image: url("/static/imgs/p2/dune.jpg");
}

.geninfo-imgcredits {
    color: var(--white);
}

#gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.tile {
    padding: 30px;
    position: absolute;
    transition: 500ms all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1;
    border-radius: 25px;
    min-width: fit-content;
    cursor: pointer;
}

.tile:hover {
    transform: scale(1.05);
}

.tile.tile-active:hover {
    transform: unset;
}

#tile1 {
    left: 5%;
    top: 7%;
}

#tile2 {
    left: 2%;
    top: 26%;
}

#tile3 {
    left: 12%;
    top: 47%;
}

#tile4 {
    left: 25%;
    top: 28%;
}

#tile5 {
    left: 28%;
    top: 51%;
}

#tile6 {
    left: 6%;
    top: 70%;
}

#tile7 {
    left: 52%;
    top: 20%;
}

#tile8 {
    left: 62%;
    top: 63%;
}

#tile1,
#tile5 {
    background: var(--blue);
    color: var(--white);
}

#tile2,
#tile7 {
    background: #0b9a5d;
    color: var(--white);
}

#tile3,
#tile6 {
    background: var(--yellow);
}

#tile4,
#tile8 {
    background: var(--red);
    color: var(--white);
}

.tile.tile-active {
    top: 0% !important;
    left: 0% !important;
    z-index: 100;
    border-radius: 0;
    overflow: scroll;
    min-width: unset;
    max-width: unset;
    cursor: unset;
    padding: 50px 175px;
}

.tile.tile-active .tile-header {
    width: max-content;
    width: 100%;
}

.close-tile {
    display: none;
    opacity: 0;
    font-size: 2.5em;
    cursor: pointer;
    transition: 300ms transform ease-in-out;
}

.close-tile:hover {
    transform: scale(1.15);
}

.tile.tile-active .close-tile {
    display: unset;
    animation: 250ms fadeIn forwards 500ms;
}

.tile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: max-content;
}

.tile-content {
    display: none;
    opacity: 0;
}

.tile.tile-active .tile-content {
    display: unset;
    animation: 250ms fadeIn forwards 500ms;
}
