.bg-page {
    background-image: url("/static/imgs/p4/Sutra2.jpg");
}

.pagetitle-big, .geninfo-imgcredits {
    color: var(--white)
}

.general-information {
    background-image: url("/static/imgs/p4/4.jpg");
}
